<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DAFF00A9-3EF5-43CC-B3DB-19BF8FDB51AE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.osf</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
