<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>58A57B7C-33B7-492F-A33A-188F2CDE8D70</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.osf</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
