<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3800B5C1-FD80-4727-8069-CDFB8681E8EB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaoxia</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaperispomeni</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiavaria</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsiliperispomeni</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aringacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Astroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Bhook</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Bstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Btopbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cheabkhasian-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chedescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chedescenderabkhasian-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chekhakassian-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cheverticalstroke-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cstroke</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Delta</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dje-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dtopbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzhe-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eltail-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Emtail-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.EnGe-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Endescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Enhook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Entail-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eopen</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ereversed</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ertick-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Estroke</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ezh</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ezhreversed</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Fhook</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Fita-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gamma-latin</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gedescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gemiddlehook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Glottalstop</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hadescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hardsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hwair</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ii-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iishorttail-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Izhitsa-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Jstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kabashkir-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kadescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kahook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kastroke-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kaverticalstroke-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lambda</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Mturned</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nhookleft</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nje-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OU</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocenteredtilde</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Pemiddlehook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Phi</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Phook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Psi</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Qhooktail</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Semisoftsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shha-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sigma</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tdiagonalstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tedescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tetse-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Theta</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tonefive</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tonesix</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tonetwo</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tse-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tshe-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ubar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ustraightstroke-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Vhook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wynn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yat-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yogh</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yr</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ystroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yu-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zedescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhe-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhedescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphadasiaypogegrammeni</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphapsiliypogegrammeni</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.001</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.locl</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beta</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bstroke</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.alt.short</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.asc</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cheabkhasian-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chedescenderabkhasian-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chekhakassian-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cheverticalstroke-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.asc</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.clicklateral</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentcomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cstroke</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasia</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaperispomeni</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbdigraph</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcurl</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.delta</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.deltaturned</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikaperispomeni</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikavaria</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_acute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_acute.cap</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve.cap</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_grave</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_grave.cap</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_macron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresistonos</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dot_macron</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.double_grave</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dtopbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.numr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emtail-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enge-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.epsilon</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversed-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ertick-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eshreversedloop</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.estroke</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eta</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezh</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezhreversed</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezhtail</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fita-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.numr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.numr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gamma</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gedescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gemiddlehook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gestroke-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.glottalinvertedstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.glottalstopsmall</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hadescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iishorttail-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.izhitsa-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kabashkir-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kadescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kahook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kastroke-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstroke-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kgreenlandic</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khook</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambdastroke</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcurl</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.micro</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncurl</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.numr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.osf</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.tosf</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.obarred-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omega</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ou</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pe-cy.locl.ita</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pemiddlehook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phi</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.prosgegrammeni</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psi</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psili</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilioxia</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psiliperispomeni</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilivaria</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qhooktail</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qpdigraph</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rho</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring_acute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rstroke</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rupeeIndian</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semisoftsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.numr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigmafinal</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.numr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sswashtail</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcurl</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tetse-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.theta</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.numr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde_macron</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonefive</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonesix</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonetwo</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos.cap</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tpalatalhook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tse-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tshe-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.numr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twostroke</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ustraight-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wynn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.xi</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ya-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yhook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yogh</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ystroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yu-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zedescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.tosf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeta</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhedescender-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zswashtail</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
