<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>58C0E8BE-7B7A-44F0-8205-F49D16419942</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aringacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lambda</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Phi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Psi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sigma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Theta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10021</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10024</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10025</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10026</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10029</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10037</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10040</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10044</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10046</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10048</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10051</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10053</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10058</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10059</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10060</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10066</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10066.locl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10067</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10069</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10072</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10073</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10077</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10078</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10081.locl.ita</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10086</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10088</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10089</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10090</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10092</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10094</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10095</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10096</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10097</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10099</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10101</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10108</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10145</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii61352</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.001</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.alt.short</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.asc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.asc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.delta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_acute</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_acute.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_grave.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_macron</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresistonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dot_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.double_grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eightsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.epsilon</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fivesuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.foursuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gamma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kgreenlandic</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ninesuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omega</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.revcommaaccent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rho</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring_acute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rouble</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sevensuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sixsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.theta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0162</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0163</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0180</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0181</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0182</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0184</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0185</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0187</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0188</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018F</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0190</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0191</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0193</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0194</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0199</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019B</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A2</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A3</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A6</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BB</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01C1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01E4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01E5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01EA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01EB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01F6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01F7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni021C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni021D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0221</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0222</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0223</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0224</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0228</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0229</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0234</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0235</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0236</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0238</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0239</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023B</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023C</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0240</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0241</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0242</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0243</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0244</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0246</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0247</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0248</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0249</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024D</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0292</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0394</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0462</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0463</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0472</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0473</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0474</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0475</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0493</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0494</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0495</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0496</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0497</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0498</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0499</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049F</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A0</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A7</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A8</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A9</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04AC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04AF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B0</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BC</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BD</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BF</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04CB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04CC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04CD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04CE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04E9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04F6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04F7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F0B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F0D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F0E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F0F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F80</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F81</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBE</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FC1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCD</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FED</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FFE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni20B4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni20B9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.xi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeta</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
