<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9B7A2C40-4E8B-49B5-A4A3-05FA3450FB4D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniF000</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
