<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C3A1E897-A4F4-45F1-B067-C2256695EC5C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
