<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0AE16A99-20D8-4B3D-8657-A1CE966564C3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
