<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0B52D58C-47E5-4A1E-9360-DD949B1DA069</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
