<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EB631186-272B-4AE0-B883-15D8F0515C32</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10044</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10058</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10059</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10067</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10068</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10107</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0182</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A7</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBE</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
