<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DF76341C-C647-4CFF-A22C-7D61F79BDE97</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniEFFD</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
