<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Glottalstop</key>
    <string>G_lottalstop.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>dieresis_grave</key>
    <string>dieresis_grave.glif</string>
    <key>dollar.osf</key>
    <string>dollar.osf.glif</string>
    <key>dotaccentcomb.i</key>
    <string>dotaccentcomb.i.glif</string>
    <key>euro.osf</key>
    <string>euro.osf.glif</string>
    <key>hryvnia.osf</key>
    <string>hryvnia.osf.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>published</key>
    <string>published.glif</string>
    <key>ruble.osf</key>
    <string>ruble.osf.glif</string>
    <key>rupeeIndian.osf</key>
    <string>rupeeI_ndian.osf.glif</string>
    <key>sterling.osf</key>
    <string>sterling.osf.glif</string>
    <key>tenge.osf</key>
    <string>tenge.osf.glif</string>
    <key>tugrik.osf</key>
    <string>tugrik.osf.glif</string>
    <key>uniF000</key>
    <string>uniF_000.glif</string>
    <key>verticallinebelowcomb</key>
    <string>verticallinebelowcomb.glif</string>
    <key>yen.osf</key>
    <string>yen.osf.glif</string>
  </dict>
</plist>
