<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>DJR-extrapolation</string>
      <string>glyphs.D_J_R_-extrapolation</string>
    </array>
    <array>
      <string>DualType_MM_wd75-wg-34.46</string>
      <string>glyphs.D_ualT_ype_M_M__wd75-wg-34.46</string>
    </array>
    <array>
      <string>Working Layer</string>
      <string>glyphs.W_orking L_ayer</string>
    </array>
    <array>
      <string>Working Layer 2</string>
      <string>glyphs.W_orking L_ayer 2</string>
    </array>
  </array>
</plist>
