
ufo2ft==0.6.2
--find-links https://github.com/daltonmaag/vttLib/releases
vttLib==0.7.6

# Subrequirements by the above packages
fonttools==3.20.1
ufoLib==2.1.1
defcon==0.3.5
cu2qu==1.3.0
compreffor==0.4.6
pyparsing==2.2.0
