<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>afii10044</key>
    <string>afii10044.glif</string>
    <key>afii10067</key>
    <string>afii10067.glif</string>
    <key>afii10068</key>
    <string>afii10068.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>uni0182</key>
    <string>uni0182.glif</string>
    <key>uni04A7</key>
    <string>uni04A_7.glif</string>
    <key>uni1FBE</key>
    <string>uni1F_B_E_.glif</string>
  </dict>
</plist>
