<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CF20D457-3828-4A08-9F60-E899077ED303</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.osf</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
