<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E80C790-B9EE-42BD-89DC-D3458D662D3E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
