<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>florin</key>
		<string>florin.glif</string>
		<key>uni01B3</key>
		<string>uni01B_3.glif</string>
		<key>uni04D8</key>
		<string>uni04D_8.glif</string>
		<key>uni04D9</key>
		<string>uni04D_9.glif</string>
		<key>uni1FAB</key>
		<string>uni1F_A_B_.glif</string>
	</dict>
</plist>
