<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BA6CB9C8-7419-487B-8E56-4B3835764F9E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
