<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>53F348C1-8AF7-4A67-A803-BDE91830331B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10052</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
