<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dieresiscomb_gravecomb</key>
    <string>dieresiscomb_gravecomb.glif</string>
    <key>dollar.osf</key>
    <string>dollar.osf.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>rupeeIndian.osf</key>
    <string>rupeeI_ndian.osf.glif</string>
    <key>sterling.osf</key>
    <string>sterling.osf.glif</string>
  </dict>
</plist>
