<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>at.c2sc</key>
    <string>at.c2sc.glif</string>
    <key>hryvnia.c2sc</key>
    <string>hryvnia.c2sc.glif</string>
    <key>numbersign.c2sc</key>
    <string>numbersign.c2sc.glif</string>
    <key>registered.c2sc</key>
    <string>registered.c2sc.glif</string>
    <key>rupeeIndian.c2sc</key>
    <string>rupeeI_ndian.c2sc.glif</string>
    <key>sterling.c2sc</key>
    <string>sterling.c2sc.glif</string>
  </dict>
</plist>
