<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C275B94D-CA4C-4F66-8B7C-CD8AEA052DF2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.osf</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
