<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>nonmarkingreturn</string>
      <string>glyph3</string>
      <string>glyph4</string>
      <string>glyph5</string>
      <string>glyph6</string>
      <string>glyph7</string>
      <string>glyph8</string>
      <string>glyph9</string>
      <string>glyph10</string>
      <string>glyph11</string>
      <string>glyph12</string>
      <string>glyph13</string>
      <string>glyph14</string>
      <string>glyph15</string>
      <string>glyph16</string>
      <string>glyph17</string>
      <string>glyph18</string>
      <string>glyph19</string>
      <string>glyph20</string>
      <string>glyph21</string>
      <string>glyph22</string>
      <string>glyph23</string>
      <string>glyph24</string>
      <string>glyph25</string>
      <string>glyph26</string>
      <string>glyph27</string>
      <string>glyph28</string>
      <string>glyph29</string>
      <string>glyph30</string>
      <string>glyph31</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>glyph127</string>
      <string>Euro</string>
      <string>glyph129</string>
      <string>quotesinglbase</string>
      <string>florin</string>
      <string>quotedblbase</string>
      <string>ellipsis</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>circumflex</string>
      <string>perthousand</string>
      <string>Scaron</string>
      <string>guilsinglleft</string>
      <string>OE</string>
      <string>glyph141</string>
      <string>glyph142</string>
      <string>glyph143</string>
      <string>glyph144</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>bullet</string>
      <string>endash</string>
      <string>emdash</string>
      <string>tilde</string>
      <string>trademark</string>
      <string>scaron</string>
      <string>guilsinglright</string>
      <string>oe</string>
      <string>glyph157</string>
      <string>glyph158</string>
      <string>Ydieresis</string>
      <string>uni00A0</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>guillemotleft</string>
      <string>logicalnot</string>
      <string>uni00AD</string>
      <string>registered</string>
      <string>macron</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>acute</string>
      <string>mu</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>cedilla</string>
      <string>onesuperior</string>
      <string>ordmasculine</string>
      <string>guillemotright</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>multiply</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>divide</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>Amacron</string>
      <string>amacron</string>
      <string>Abreve</string>
      <string>abreve</string>
      <string>Aogonek</string>
      <string>aogonek</string>
      <string>Cacute</string>
      <string>cacute</string>
      <string>Ccircumflex</string>
      <string>ccircumflex</string>
      <string>Cdotaccent</string>
      <string>cdotaccent</string>
      <string>Ccaron</string>
      <string>ccaron</string>
      <string>Dcaron</string>
      <string>dcaron</string>
      <string>Dcroat</string>
      <string>dcroat</string>
      <string>Emacron</string>
      <string>emacron</string>
      <string>Ebreve</string>
      <string>ebreve</string>
      <string>Edotaccent</string>
      <string>edotaccent</string>
      <string>Eogonek</string>
      <string>eogonek</string>
      <string>Ecaron</string>
      <string>ecaron</string>
      <string>Gcircumflex</string>
      <string>gcircumflex</string>
      <string>Gbreve</string>
      <string>gbreve</string>
      <string>Gdotaccent</string>
      <string>gdotaccent</string>
      <string>Gcommaaccent</string>
      <string>gcommaaccent</string>
      <string>Hcircumflex</string>
      <string>hcircumflex</string>
      <string>Hbar</string>
      <string>hbar</string>
      <string>Itilde</string>
      <string>itilde</string>
      <string>Imacron</string>
      <string>imacron</string>
      <string>Ibreve</string>
      <string>ibreve</string>
      <string>Iogonek</string>
      <string>iogonek</string>
      <string>Idotaccent</string>
      <string>dotlessi</string>
      <string>i.locl</string>
      <string>IJ</string>
      <string>ij</string>
      <string>Jcircumflex</string>
      <string>jcircumflex</string>
      <string>Kcommaaccent</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic.case</string>
      <string>kgreenlandic</string>
      <string>Lacute</string>
      <string>lacute</string>
      <string>Lcommaaccent</string>
      <string>lcommaaccent</string>
      <string>Lcaron</string>
      <string>lcaron</string>
      <string>Ldot</string>
      <string>ldot</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>Nacute</string>
      <string>nacute</string>
      <string>Ncommaaccent</string>
      <string>ncommaaccent</string>
      <string>Ncaron</string>
      <string>ncaron</string>
      <string>napostrophe.case</string>
      <string>napostrophe</string>
      <string>Eng</string>
      <string>eng</string>
      <string>Omacron</string>
      <string>omacron</string>
      <string>Obreve</string>
      <string>obreve</string>
      <string>Ohungarumlaut</string>
      <string>ohungarumlaut</string>
      <string>Racute</string>
      <string>racute</string>
      <string>Rcommaaccent</string>
      <string>rcommaaccent</string>
      <string>Rcaron</string>
      <string>rcaron</string>
      <string>Sacute</string>
      <string>sacute</string>
      <string>Scircumflex</string>
      <string>scircumflex</string>
      <string>Scedilla</string>
      <string>scedilla</string>
      <string>uni0162</string>
      <string>uni0163</string>
      <string>Tcaron</string>
      <string>tcaron</string>
      <string>Tbar</string>
      <string>tbar</string>
      <string>Utilde</string>
      <string>utilde</string>
      <string>Umacron</string>
      <string>umacron</string>
      <string>Ubreve</string>
      <string>ubreve</string>
      <string>Uring</string>
      <string>uring</string>
      <string>Uhungarumlaut</string>
      <string>uhungarumlaut</string>
      <string>Uogonek</string>
      <string>uogonek</string>
      <string>Wcircumflex</string>
      <string>wcircumflex</string>
      <string>Ycircumflex</string>
      <string>ycircumflex</string>
      <string>Zacute</string>
      <string>zacute</string>
      <string>Zdotaccent</string>
      <string>zdotaccent</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>longs</string>
      <string>Scommaaccent</string>
      <string>scommaaccent</string>
      <string>uni021A</string>
      <string>uni021B</string>
      <string>dotlessj</string>
      <string>apostrophe</string>
      <string>caron</string>
      <string>uni02C9</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>hungarumlaut</string>
      <string>uni20B9</string>
      <string>Wgrave</string>
      <string>wgrave</string>
      <string>Wacute</string>
      <string>wacute</string>
      <string>Wdieresis</string>
      <string>wdieresis</string>
      <string>Ygrave</string>
      <string>ygrave</string>
      <string>fraction</string>
      <string>zerosuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>afii61289</string>
      <string>estimated</string>
      <string>onethird</string>
      <string>twothirds</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>onefifth</string>
      <string>twofifths</string>
      <string>threefifths</string>
      <string>fourfifths</string>
      <string>onesixth</string>
      <string>fivesixths</string>
      <string>oneseventh</string>
      <string>twosevenths</string>
      <string>threesevenths</string>
      <string>foursevenths</string>
      <string>fivesevenths</string>
      <string>sixsevenths</string>
      <string>oneninth</string>
      <string>twoninths</string>
      <string>fourninths</string>
      <string>fiveninths</string>
      <string>sevenninths</string>
      <string>eightninths</string>
      <string>partialdiff</string>
      <string>Delta</string>
      <string>product</string>
      <string>summation</string>
      <string>uni2126</string>
      <string>minus</string>
      <string>uni2215</string>
      <string>uni2219</string>
      <string>radical</string>
      <string>infinity</string>
      <string>integral</string>
      <string>approxequal</string>
      <string>notequal</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>lozenge</string>
      <string>f_f</string>
      <string>fi</string>
      <string>f_i</string>
      <string>fl</string>
      <string>f_l</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>glyph471</string>
      <string>ampersand.001</string>
      <string>glyph473</string>
      <string>glyph474</string>
      <string>glyph475</string>
      <string>glyph476</string>
      <string>glyph477</string>
      <string>uni2009</string>
      <string>uni200A</string>
      <string>zero.alt</string>
      <string>one.alt</string>
      <string>two.alt</string>
      <string>three.alt</string>
      <string>four.alt</string>
      <string>five.alt</string>
      <string>six.alt</string>
      <string>seven.alt</string>
      <string>eight.alt</string>
      <string>nine.alt</string>
      <string>zero.sups</string>
      <string>one.sups</string>
      <string>two.sups</string>
      <string>three.sups</string>
      <string>four.sups</string>
      <string>five.sups</string>
      <string>six.sups</string>
      <string>seven.sups</string>
      <string>eight.sups</string>
      <string>nine.sups</string>
      <string>zero.sinf</string>
      <string>one.sinf</string>
      <string>two.sinf</string>
      <string>three.sinf</string>
      <string>four.sinf</string>
      <string>five.sinf</string>
      <string>six.sinf</string>
      <string>seven.sinf</string>
      <string>eight.sinf</string>
      <string>nine.sinf</string>
      <string>glyph510</string>
      <string>glyph511</string>
      <string>glyph512</string>
      <string>glyph513</string>
      <string>glyph514</string>
      <string>glyph515</string>
      <string>glyph516</string>
      <string>glyph517</string>
      <string>glyph518</string>
      <string>glyph519</string>
      <string>glyph520</string>
      <string>glyph521</string>
      <string>glyph522</string>
      <string>glyph523</string>
      <string>glyph524</string>
      <string>glyph525</string>
      <string>caron.alt</string>
      <string>caron.alt.short</string>
      <string>commaaccent</string>
      <string>revcommaaccent</string>
      <string>glyph530</string>
      <string>glyph531</string>
      <string>glyph532</string>
      <string>glyph533</string>
      <string>glyph534</string>
      <string>glyph535</string>
      <string>glyph536</string>
      <string>glyph537</string>
      <string>glyph538</string>
      <string>glyph539</string>
      <string>glyph540</string>
      <string>glyph541</string>
      <string>glyph542</string>
      <string>glyph543</string>
      <string>Parenleft</string>
      <string>Parenright</string>
      <string>Hyphen</string>
      <string>Slash</string>
      <string>At</string>
      <string>Bracketleft</string>
      <string>Backslash</string>
      <string>Bracketright</string>
      <string>Braceleft</string>
      <string>Braceright</string>
      <string>Guilsinglleft</string>
      <string>Bullet</string>
      <string>Endash</string>
      <string>Emdash</string>
      <string>Guilsinglright</string>
      <string>Exclamdown</string>
      <string>Guillemotleft</string>
      <string>Guillemotright</string>
      <string>Questiondown</string>
      <string>glyph563</string>
      <string>glyph564</string>
      <string>glyph565</string>
      <string>glyph566</string>
      <string>glyph567</string>
      <string>glyph568</string>
      <string>glyph569</string>
      <string>glyph570</string>
      <string>glyph571</string>
      <string>glyph572</string>
      <string>glyph573</string>
      <string>glyph574</string>
      <string>glyph575</string>
      <string>uni0180</string>
      <string>uni0181</string>
      <string>uni0182</string>
      <string>uni0183</string>
      <string>uni0184</string>
      <string>uni0185</string>
      <string>uni0186</string>
      <string>uni0187</string>
      <string>uni0188</string>
      <string>uni0189</string>
      <string>uni018A</string>
      <string>uni018B</string>
      <string>uni018C</string>
      <string>uni018D</string>
      <string>uni018E</string>
      <string>uni018F</string>
      <string>uni0190</string>
      <string>uni0191</string>
      <string>uni0193</string>
      <string>uni0194</string>
      <string>uni0195</string>
      <string>uni0196</string>
      <string>uni0197</string>
      <string>uni0198</string>
      <string>uni0199</string>
      <string>uni019A</string>
      <string>uni019B</string>
      <string>uni019C</string>
      <string>uni019D</string>
      <string>uni019E</string>
      <string>uni019F</string>
      <string>Ohorn</string>
      <string>ohorn</string>
      <string>uni01A2</string>
      <string>uni01A3</string>
      <string>uni01A4</string>
      <string>uni01A5</string>
      <string>uni01A6</string>
      <string>uni01A7</string>
      <string>uni01A8</string>
      <string>uni01A9</string>
      <string>uni01AA</string>
      <string>uni01AB</string>
      <string>uni01AC</string>
      <string>uni01AD</string>
      <string>uni01AE</string>
      <string>Uhorn</string>
      <string>uhorn</string>
      <string>uni01B1</string>
      <string>uni01B2</string>
      <string>uni01B3</string>
      <string>uni01B4</string>
      <string>uni01B5</string>
      <string>uni01B6</string>
      <string>uni01B7</string>
      <string>uni01B8</string>
      <string>uni01B9</string>
      <string>uni01BA</string>
      <string>uni01BB</string>
      <string>uni01BC</string>
      <string>uni01BD</string>
      <string>uni01BE</string>
      <string>uni01BF</string>
      <string>uni01C0</string>
      <string>uni01C1</string>
      <string>uni01C2</string>
      <string>uni01C3</string>
      <string>uni01C4</string>
      <string>uni01C5</string>
      <string>uni01C6</string>
      <string>uni01C7</string>
      <string>uni01C8</string>
      <string>uni01C9</string>
      <string>uni01CA</string>
      <string>uni01CB</string>
      <string>uni01CC</string>
      <string>uni01CD</string>
      <string>uni01CE</string>
      <string>uni01CF</string>
      <string>uni01D0</string>
      <string>uni01D1</string>
      <string>uni01D2</string>
      <string>uni01D3</string>
      <string>uni01D4</string>
      <string>uni01D5</string>
      <string>uni01D6</string>
      <string>uni01D7</string>
      <string>uni01D8</string>
      <string>uni01D9</string>
      <string>uni01DA</string>
      <string>uni01DB</string>
      <string>uni01DC</string>
      <string>uni01DD</string>
      <string>uni01DE</string>
      <string>uni01DF</string>
      <string>uni01E0</string>
      <string>uni01E1</string>
      <string>uni01E2</string>
      <string>uni01E3</string>
      <string>uni01E4</string>
      <string>uni01E5</string>
      <string>Gcaron</string>
      <string>gcaron</string>
      <string>uni01E8</string>
      <string>uni01E9</string>
      <string>uni01EA</string>
      <string>uni01EB</string>
      <string>uni01EC</string>
      <string>uni01ED</string>
      <string>uni01EE</string>
      <string>uni01EF</string>
      <string>uni01F0</string>
      <string>uni01F1</string>
      <string>uni01F2</string>
      <string>uni01F3</string>
      <string>uni01F4</string>
      <string>uni01F5</string>
      <string>uni01F6</string>
      <string>uni01F7</string>
      <string>uni01F8</string>
      <string>uni01F9</string>
      <string>Aringacute</string>
      <string>aringacute</string>
      <string>AEacute</string>
      <string>aeacute</string>
      <string>Oslashacute</string>
      <string>oslashacute</string>
      <string>uni0200</string>
      <string>uni0201</string>
      <string>uni0202</string>
      <string>uni0203</string>
      <string>uni0204</string>
      <string>uni0205</string>
      <string>uni0206</string>
      <string>uni0207</string>
      <string>uni0208</string>
      <string>uni0209</string>
      <string>uni020A</string>
      <string>uni020B</string>
      <string>uni020C</string>
      <string>uni020D</string>
      <string>uni020E</string>
      <string>uni020F</string>
      <string>uni0210</string>
      <string>uni0211</string>
      <string>uni0212</string>
      <string>uni0213</string>
      <string>uni0214</string>
      <string>uni0215</string>
      <string>uni0216</string>
      <string>uni0217</string>
      <string>uni021C</string>
      <string>uni021D</string>
      <string>uni021E</string>
      <string>uni021F</string>
      <string>uni0220</string>
      <string>uni0221</string>
      <string>uni0222</string>
      <string>uni0223</string>
      <string>uni0224</string>
      <string>uni0225</string>
      <string>uni0226</string>
      <string>uni0227</string>
      <string>uni0228</string>
      <string>uni0229</string>
      <string>uni022A</string>
      <string>uni022B</string>
      <string>uni022C</string>
      <string>uni022D</string>
      <string>uni022E</string>
      <string>uni022F</string>
      <string>uni0230</string>
      <string>uni0231</string>
      <string>uni0232</string>
      <string>uni0233</string>
      <string>uni0234</string>
      <string>uni0235</string>
      <string>uni0236</string>
      <string>uni0238</string>
      <string>uni0239</string>
      <string>uni023A</string>
      <string>uni023B</string>
      <string>uni023C</string>
      <string>uni023D</string>
      <string>uni023E</string>
      <string>uni023F</string>
      <string>uni0240</string>
      <string>uni0241</string>
      <string>uni0242</string>
      <string>uni0243</string>
      <string>uni0244</string>
      <string>uni0245</string>
      <string>uni0246</string>
      <string>uni0247</string>
      <string>uni0248</string>
      <string>uni0249</string>
      <string>uni024A</string>
      <string>uni024B</string>
      <string>uni024C</string>
      <string>uni024D</string>
      <string>uni024E</string>
      <string>uni024F</string>
      <string>uni0292</string>
      <string>glyph779</string>
      <string>glyph780</string>
      <string>macron_acute.ita</string>
      <string>glyph782</string>
      <string>breve_inverted</string>
      <string>double_grave</string>
      <string>ring_acute</string>
      <string>dieresis_macron</string>
      <string>dot_macron</string>
      <string>dieresis_grave</string>
      <string>dieresis_acute</string>
      <string>dieresis_breve</string>
      <string>tilde_macron</string>
      <string>glyph792</string>
      <string>acute.asc</string>
      <string>circumflex.asc</string>
      <string>caron.asc</string>
      <string>glyph796</string>
      <string>dieresis_grave.cap</string>
      <string>dieresis_acute.cap</string>
      <string>dieresis_breve.cap</string>
      <string>uni0400</string>
      <string>afii10023</string>
      <string>afii10051</string>
      <string>afii10052</string>
      <string>afii10053</string>
      <string>afii10054</string>
      <string>afii10055</string>
      <string>afii10056</string>
      <string>afii10057</string>
      <string>afii10058</string>
      <string>afii10059</string>
      <string>afii10060</string>
      <string>afii10061</string>
      <string>uni040D</string>
      <string>afii10062</string>
      <string>afii10145</string>
      <string>glyph816</string>
      <string>glyph817</string>
      <string>glyph818</string>
      <string>glyph819</string>
      <string>glyph820</string>
      <string>glyph821</string>
      <string>glyph822</string>
      <string>glyph823</string>
      <string>glyph824</string>
      <string>glyph825</string>
      <string>glyph826</string>
      <string>glyph827</string>
      <string>glyph828</string>
      <string>glyph829</string>
      <string>glyph830</string>
      <string>glyph831</string>
      <string>afii10017</string>
      <string>afii10018</string>
      <string>afii10019</string>
      <string>afii10020</string>
      <string>afii10021</string>
      <string>afii10022</string>
      <string>afii10024</string>
      <string>afii10025</string>
      <string>afii10026</string>
      <string>afii10027</string>
      <string>afii10028</string>
      <string>afii10029</string>
      <string>afii10030</string>
      <string>afii10031</string>
      <string>afii10032</string>
      <string>afii10033</string>
      <string>afii10034</string>
      <string>afii10035</string>
      <string>afii10036</string>
      <string>afii10037</string>
      <string>afii10038</string>
      <string>afii10039</string>
      <string>afii10040</string>
      <string>afii10041</string>
      <string>afii10042</string>
      <string>afii10043</string>
      <string>afii10044</string>
      <string>afii10045</string>
      <string>afii10046</string>
      <string>afii10047</string>
      <string>afii10048</string>
      <string>afii10049</string>
      <string>afii10065</string>
      <string>afii10066</string>
      <string>afii10067</string>
      <string>afii10068</string>
      <string>afii10069</string>
      <string>afii10070</string>
      <string>afii10072</string>
      <string>afii10073</string>
      <string>afii10074</string>
      <string>afii10075</string>
      <string>afii10076</string>
      <string>afii10077</string>
      <string>afii10078</string>
      <string>afii10079</string>
      <string>afii10080</string>
      <string>afii10081</string>
      <string>afii10082</string>
      <string>afii10083</string>
      <string>afii10084</string>
      <string>afii10085</string>
      <string>afii10086</string>
      <string>afii10087</string>
      <string>afii10088</string>
      <string>afii10089</string>
      <string>afii10090</string>
      <string>afii10091</string>
      <string>afii10092</string>
      <string>afii10093</string>
      <string>afii10094</string>
      <string>afii10095</string>
      <string>afii10096</string>
      <string>afii10097</string>
      <string>uni0450</string>
      <string>afii10071</string>
      <string>afii10099</string>
      <string>afii10100</string>
      <string>afii10101</string>
      <string>afii10102</string>
      <string>afii10103</string>
      <string>afii10104</string>
      <string>afii10105</string>
      <string>afii10106</string>
      <string>afii10107</string>
      <string>afii10108</string>
      <string>afii10109</string>
      <string>uni045D</string>
      <string>afii10110</string>
      <string>afii10193</string>
      <string>glyph912</string>
      <string>afii10066.locl</string>
      <string>glyph914</string>
      <string>afii10068.locl.ita</string>
      <string>afii10069.locl.ita</string>
      <string>afii10081.locl.ita</string>
      <string>afii10084.locl.ita</string>
      <string>glyph919</string>
      <string>afii10068.mace.locl.ita</string>
      <string>afii10100.mace.locl.ita</string>
      <string>glyph922</string>
      <string>glyph923</string>
      <string>glyph924</string>
      <string>glyph925</string>
      <string>glyph926</string>
      <string>glyph927</string>
      <string>uni0462</string>
      <string>uni0463</string>
      <string>uni0472</string>
      <string>uni0473</string>
      <string>uni0474</string>
      <string>uni0475</string>
      <string>uni048A</string>
      <string>uni048B</string>
      <string>uni048C</string>
      <string>uni048D</string>
      <string>uni048E</string>
      <string>uni048F</string>
      <string>afii10050</string>
      <string>afii10098</string>
      <string>uni0492</string>
      <string>uni0493</string>
      <string>uni0494</string>
      <string>uni0495</string>
      <string>uni0496</string>
      <string>uni0497</string>
      <string>uni0498</string>
      <string>uni0499</string>
      <string>uni049A</string>
      <string>uni049B</string>
      <string>uni049C</string>
      <string>uni049D</string>
      <string>uni049E</string>
      <string>uni049F</string>
      <string>uni04A0</string>
      <string>uni04A1</string>
      <string>uni04A2</string>
      <string>uni04A3</string>
      <string>uni04A4</string>
      <string>uni04A5</string>
      <string>uni04A6</string>
      <string>uni04A7</string>
      <string>uni04A8</string>
      <string>uni04A9</string>
      <string>uni04AA</string>
      <string>uni04AB</string>
      <string>uni04AC</string>
      <string>uni04AD</string>
      <string>uni04AE</string>
      <string>uni04AF</string>
      <string>uni04B0</string>
      <string>uni04B1</string>
      <string>uni04B2</string>
      <string>uni04B3</string>
      <string>uni04B4</string>
      <string>uni04B5</string>
      <string>uni04B6</string>
      <string>uni04B7</string>
      <string>uni04B8</string>
      <string>uni04B9</string>
      <string>uni04BA</string>
      <string>uni04BB</string>
      <string>uni04BC</string>
      <string>uni04BD</string>
      <string>uni04BE</string>
      <string>uni04BF</string>
      <string>uni04C0</string>
      <string>uni04C1</string>
      <string>uni04C2</string>
      <string>uni04C3</string>
      <string>uni04C4</string>
      <string>uni04C5</string>
      <string>uni04C6</string>
      <string>uni04C7</string>
      <string>uni04C8</string>
      <string>uni04C9</string>
      <string>uni04CA</string>
      <string>uni04CB</string>
      <string>uni04CC</string>
      <string>uni04CD</string>
      <string>uni04CE</string>
      <string>uni04CF</string>
      <string>uni04D0</string>
      <string>uni04D1</string>
      <string>uni04D2</string>
      <string>uni04D3</string>
      <string>uni04D4</string>
      <string>uni04D5</string>
      <string>uni04D6</string>
      <string>uni04D7</string>
      <string>uni04D8</string>
      <string>uni04D9</string>
      <string>uni04DA</string>
      <string>uni04DB</string>
      <string>uni04DC</string>
      <string>uni04DD</string>
      <string>uni04DE</string>
      <string>uni04DF</string>
      <string>uni04E0</string>
      <string>uni04E1</string>
      <string>uni04E2</string>
      <string>uni04E3</string>
      <string>uni04E4</string>
      <string>uni04E5</string>
      <string>uni04E6</string>
      <string>uni04E7</string>
      <string>uni04E8</string>
      <string>uni04E9</string>
      <string>uni04EA</string>
      <string>uni04EB</string>
      <string>uni04EC</string>
      <string>uni04ED</string>
      <string>uni04EE</string>
      <string>uni04EF</string>
      <string>uni04F0</string>
      <string>uni04F1</string>
      <string>uni04F2</string>
      <string>uni04F3</string>
      <string>uni04F4</string>
      <string>uni04F5</string>
      <string>uni04F6</string>
      <string>uni04F7</string>
      <string>uni04F8</string>
      <string>uni04F9</string>
      <string>afii61352</string>
      <string>afii00208</string>
      <string>uni20B4</string>
      <string>uni20AE</string>
      <string>tenge</string>
      <string>rouble</string>
      <string>kratka</string>
      <string>glyph1053</string>
      <string>glyph1054</string>
      <string>glyph1055</string>
      <string>Alpha</string>
      <string>Beta</string>
      <string>Gamma</string>
      <string>uni0394</string>
      <string>Epsilon</string>
      <string>Zeta</string>
      <string>Eta</string>
      <string>Theta</string>
      <string>Iota</string>
      <string>Kappa</string>
      <string>Lambda</string>
      <string>Mu</string>
      <string>Nu</string>
      <string>Xi</string>
      <string>Omicron</string>
      <string>Pi</string>
      <string>Rho</string>
      <string>glyph1073</string>
      <string>Sigma</string>
      <string>Tau</string>
      <string>Upsilon</string>
      <string>Phi</string>
      <string>Chi</string>
      <string>Psi</string>
      <string>Omega</string>
      <string>glyph1081</string>
      <string>glyph1082</string>
      <string>glyph1083</string>
      <string>glyph1084</string>
      <string>glyph1085</string>
      <string>glyph1086</string>
      <string>glyph1087</string>
      <string>alpha</string>
      <string>beta</string>
      <string>gamma</string>
      <string>delta</string>
      <string>epsilon</string>
      <string>zeta</string>
      <string>eta</string>
      <string>theta</string>
      <string>iota</string>
      <string>kappa</string>
      <string>lambda</string>
      <string>uni03BC</string>
      <string>nu</string>
      <string>xi</string>
      <string>omicron</string>
      <string>pi</string>
      <string>rho</string>
      <string>sigma1</string>
      <string>sigma</string>
      <string>tau</string>
      <string>upsilon</string>
      <string>phi</string>
      <string>chi</string>
      <string>psi</string>
      <string>omega</string>
      <string>glyph1113</string>
      <string>glyph1114</string>
      <string>glyph1115</string>
      <string>glyph1116</string>
      <string>glyph1117</string>
      <string>glyph1118</string>
      <string>glyph1119</string>
      <string>Alphatonos</string>
      <string>Epsilontonos</string>
      <string>Etatonos</string>
      <string>Iotatonos</string>
      <string>Iotadieresis</string>
      <string>Omicrontonos</string>
      <string>Upsilontonos</string>
      <string>Upsilondieresis</string>
      <string>Omegatonos</string>
      <string>glyph1129</string>
      <string>glyph1130</string>
      <string>glyph1131</string>
      <string>glyph1132</string>
      <string>glyph1133</string>
      <string>glyph1134</string>
      <string>glyph1135</string>
      <string>glyph1136</string>
      <string>glyph1137</string>
      <string>glyph1138</string>
      <string>glyph1139</string>
      <string>glyph1140</string>
      <string>glyph1141</string>
      <string>glyph1142</string>
      <string>glyph1143</string>
      <string>glyph1144</string>
      <string>glyph1145</string>
      <string>glyph1146</string>
      <string>glyph1147</string>
      <string>glyph1148</string>
      <string>glyph1149</string>
      <string>glyph1150</string>
      <string>glyph1151</string>
      <string>alphatonos</string>
      <string>epsilontonos</string>
      <string>etatonos</string>
      <string>iotatonos</string>
      <string>iotadieresis</string>
      <string>iotadieresistonos</string>
      <string>omicrontonos</string>
      <string>upsilondieresis</string>
      <string>upsilontonos</string>
      <string>upsilondieresistonos</string>
      <string>omegatonos</string>
      <string>tonos</string>
      <string>tonos.cap</string>
      <string>dieresistonos</string>
      <string>glyph1166</string>
      <string>glyph1167</string>
      <string>glyph1168</string>
      <string>glyph1169</string>
      <string>glyph1170</string>
      <string>glyph1171</string>
      <string>glyph1172</string>
      <string>glyph1173</string>
      <string>glyph1174</string>
      <string>glyph1175</string>
      <string>glyph1176</string>
      <string>glyph1177</string>
      <string>glyph1178</string>
      <string>glyph1179</string>
      <string>glyph1180</string>
      <string>glyph1181</string>
      <string>glyph1182</string>
      <string>glyph1183</string>
      <string>uni1F00</string>
      <string>uni1F01</string>
      <string>uni1F02</string>
      <string>uni1F03</string>
      <string>uni1F04</string>
      <string>uni1F05</string>
      <string>uni1F06</string>
      <string>uni1F07</string>
      <string>uni1F08</string>
      <string>uni1F09</string>
      <string>uni1F0A</string>
      <string>uni1F0B</string>
      <string>uni1F0C</string>
      <string>uni1F0D</string>
      <string>uni1F0E</string>
      <string>uni1F0F</string>
      <string>uni1F10</string>
      <string>uni1F11</string>
      <string>uni1F12</string>
      <string>uni1F13</string>
      <string>uni1F14</string>
      <string>uni1F15</string>
      <string>glyph1206</string>
      <string>glyph1207</string>
      <string>uni1F18</string>
      <string>uni1F19</string>
      <string>uni1F1A</string>
      <string>uni1F1B</string>
      <string>uni1F1C</string>
      <string>uni1F1D</string>
      <string>glyph1214</string>
      <string>glyph1215</string>
      <string>uni1F20</string>
      <string>uni1F21</string>
      <string>uni1F22</string>
      <string>uni1F23</string>
      <string>uni1F24</string>
      <string>uni1F25</string>
      <string>uni1F26</string>
      <string>uni1F27</string>
      <string>uni1F28</string>
      <string>uni1F29</string>
      <string>uni1F2A</string>
      <string>uni1F2B</string>
      <string>uni1F2C</string>
      <string>uni1F2D</string>
      <string>uni1F2E</string>
      <string>uni1F2F</string>
      <string>uni1F30</string>
      <string>uni1F31</string>
      <string>uni1F32</string>
      <string>uni1F33</string>
      <string>uni1F34</string>
      <string>uni1F35</string>
      <string>uni1F36</string>
      <string>uni1F37</string>
      <string>uni1F38</string>
      <string>uni1F39</string>
      <string>uni1F3A</string>
      <string>uni1F3B</string>
      <string>uni1F3C</string>
      <string>uni1F3D</string>
      <string>uni1F3E</string>
      <string>uni1F3F</string>
      <string>uni1F40</string>
      <string>uni1F41</string>
      <string>uni1F42</string>
      <string>uni1F43</string>
      <string>uni1F44</string>
      <string>uni1F45</string>
      <string>glyph1254</string>
      <string>glyph1255</string>
      <string>uni1F48</string>
      <string>uni1F49</string>
      <string>uni1F4A</string>
      <string>uni1F4B</string>
      <string>uni1F4C</string>
      <string>uni1F4D</string>
      <string>glyph1262</string>
      <string>glyph1263</string>
      <string>uni1F50</string>
      <string>uni1F51</string>
      <string>uni1F52</string>
      <string>uni1F53</string>
      <string>uni1F54</string>
      <string>uni1F55</string>
      <string>uni1F56</string>
      <string>uni1F57</string>
      <string>glyph1272</string>
      <string>uni1F59</string>
      <string>glyph1274</string>
      <string>uni1F5B</string>
      <string>glyph1276</string>
      <string>uni1F5D</string>
      <string>glyph1278</string>
      <string>uni1F5F</string>
      <string>uni1F60</string>
      <string>uni1F61</string>
      <string>uni1F62</string>
      <string>uni1F63</string>
      <string>uni1F64</string>
      <string>uni1F65</string>
      <string>uni1F66</string>
      <string>uni1F67</string>
      <string>uni1F68</string>
      <string>uni1F69</string>
      <string>uni1F6A</string>
      <string>uni1F6B</string>
      <string>uni1F6C</string>
      <string>uni1F6D</string>
      <string>uni1F6E</string>
      <string>uni1F6F</string>
      <string>uni1F70</string>
      <string>uni1F71</string>
      <string>uni1F72</string>
      <string>uni1F73</string>
      <string>uni1F74</string>
      <string>uni1F75</string>
      <string>uni1F76</string>
      <string>uni1F77</string>
      <string>uni1F78</string>
      <string>uni1F79</string>
      <string>uni1F7A</string>
      <string>uni1F7B</string>
      <string>uni1F7C</string>
      <string>uni1F7D</string>
      <string>glyph1310</string>
      <string>glyph1311</string>
      <string>uni1F80</string>
      <string>uni1F81</string>
      <string>uni1F82</string>
      <string>uni1F83</string>
      <string>uni1F84</string>
      <string>uni1F85</string>
      <string>uni1F86</string>
      <string>uni1F87</string>
      <string>uni1F88</string>
      <string>uni1F89</string>
      <string>uni1F8A</string>
      <string>uni1F8B</string>
      <string>uni1F8C</string>
      <string>uni1F8D</string>
      <string>uni1F8E</string>
      <string>uni1F8F</string>
      <string>uni1F90</string>
      <string>uni1F91</string>
      <string>uni1F92</string>
      <string>uni1F93</string>
      <string>uni1F94</string>
      <string>uni1F95</string>
      <string>uni1F96</string>
      <string>uni1F97</string>
      <string>uni1F98</string>
      <string>uni1F99</string>
      <string>uni1F9A</string>
      <string>uni1F9B</string>
      <string>uni1F9C</string>
      <string>uni1F9D</string>
      <string>uni1F9E</string>
      <string>uni1F9F</string>
      <string>uni1FA0</string>
      <string>uni1FA1</string>
      <string>uni1FA2</string>
      <string>uni1FA3</string>
      <string>uni1FA4</string>
      <string>uni1FA5</string>
      <string>uni1FA6</string>
      <string>uni1FA7</string>
      <string>uni1FA8</string>
      <string>uni1FA9</string>
      <string>uni1FAA</string>
      <string>uni1FAB</string>
      <string>uni1FAC</string>
      <string>uni1FAD</string>
      <string>uni1FAE</string>
      <string>uni1FAF</string>
      <string>uni1FB0</string>
      <string>uni1FB1</string>
      <string>uni1FB2</string>
      <string>uni1FB3</string>
      <string>uni1FB4</string>
      <string>glyph1365</string>
      <string>uni1FB6</string>
      <string>uni1FB7</string>
      <string>uni1FB8</string>
      <string>uni1FB9</string>
      <string>uni1FBA</string>
      <string>uni1FBB</string>
      <string>uni1FBC</string>
      <string>uni1FBD</string>
      <string>uni1FBE</string>
      <string>uni1FBF</string>
      <string>uni1FC0</string>
      <string>uni1FC1</string>
      <string>uni1FC2</string>
      <string>uni1FC3</string>
      <string>uni1FC4</string>
      <string>glyph1381</string>
      <string>uni1FC6</string>
      <string>uni1FC7</string>
      <string>uni1FC8</string>
      <string>uni1FC9</string>
      <string>uni1FCA</string>
      <string>uni1FCB</string>
      <string>uni1FCC</string>
      <string>uni1FCD</string>
      <string>uni1FCE</string>
      <string>uni1FCF</string>
      <string>uni1FD0</string>
      <string>uni1FD1</string>
      <string>uni1FD2</string>
      <string>uni1FD3</string>
      <string>glyph1396</string>
      <string>glyph1397</string>
      <string>uni1FD6</string>
      <string>uni1FD7</string>
      <string>uni1FD8</string>
      <string>uni1FD9</string>
      <string>uni1FDA</string>
      <string>uni1FDB</string>
      <string>glyph1404</string>
      <string>uni1FDD</string>
      <string>uni1FDE</string>
      <string>uni1FDF</string>
      <string>uni1FE0</string>
      <string>uni1FE1</string>
      <string>uni1FE2</string>
      <string>uni1FE3</string>
      <string>uni1FE4</string>
      <string>uni1FE5</string>
      <string>uni1FE6</string>
      <string>uni1FE7</string>
      <string>uni1FE8</string>
      <string>uni1FE9</string>
      <string>uni1FEA</string>
      <string>uni1FEB</string>
      <string>uni1FEC</string>
      <string>uni1FED</string>
      <string>uni1FEE</string>
      <string>uni1FEF</string>
      <string>glyph1424</string>
      <string>glyph1425</string>
      <string>uni1FF2</string>
      <string>uni1FF3</string>
      <string>uni1FF4</string>
      <string>glyph1429</string>
      <string>uni1FF6</string>
      <string>uni1FF7</string>
      <string>uni1FF8</string>
      <string>uni1FF9</string>
      <string>uni1FFA</string>
      <string>uni1FFB</string>
      <string>uni1FFC</string>
      <string>uni1FFD</string>
      <string>uni1FFE</string>
      <string>glyph1439</string>
      <string>uni1F88.alt</string>
      <string>uni1F89.alt</string>
      <string>uni1F8A.alt</string>
      <string>uni1F8B.alt</string>
      <string>uni1F8C.alt</string>
      <string>uni1F8D.alt</string>
      <string>uni1F8E.alt</string>
      <string>uni1F8F.alt</string>
      <string>uni1F98.alt</string>
      <string>uni1F99.alt</string>
      <string>uni1F9A.alt</string>
      <string>uni1F9B.alt</string>
      <string>uni1F9C.alt</string>
      <string>uni1F9D.alt</string>
      <string>uni1F9E.alt</string>
      <string>uni1F9F.alt</string>
      <string>uni1FA8.alt</string>
      <string>uni1FA9.alt</string>
      <string>uni1FAA.alt</string>
      <string>uni1FAB.alt</string>
      <string>uni1FAC.alt</string>
      <string>uni1FAD.alt</string>
      <string>uni1FAE.alt</string>
      <string>uni1FAF.alt</string>
      <string>uni1FBC.alt</string>
      <string>uni1FCC.alt</string>
      <string>uni1FFC.alt</string>
      <string>glyph1467</string>
      <string>glyph1468</string>
      <string>glyph1469</string>
      <string>glyph1470</string>
      <string>glyph1471</string>
      <string>SF540000</string>
      <string>SF530000</string>
      <string>SF190000</string>
      <string>SF360000</string>
      <string>SF450000</string>
      <string>SF280000</string>
      <string>SF500000</string>
      <string>SF470000</string>
      <string>SF220000</string>
      <string>SF510000</string>
      <string>SF240000</string>
      <string>SF440000</string>
      <string>SF230000</string>
      <string>SF420000</string>
      <string>SF400000</string>
      <string>SF260000</string>
      <string>SF380000</string>
      <string>SF410000</string>
      <string>SF250000</string>
      <string>SF390000</string>
      <string>SF430000</string>
      <string>SF200000</string>
      <string>SF370000</string>
      <string>SF460000</string>
      <string>SF270000</string>
      <string>SF490000</string>
      <string>SF480000</string>
      <string>SF210000</string>
      <string>SF520000</string>
      <string>block</string>
      <string>ltshade</string>
      <string>shade</string>
      <string>dkshade</string>
      <string>uni263A</string>
      <string>uni2007</string>
      <string>uni263B</string>
      <string>uni2665</string>
      <string>uni2666</string>
      <string>uni2663</string>
      <string>uni2660</string>
      <string>uni25D8</string>
      <string>uni25CB</string>
      <string>uni25D9</string>
      <string>uni2642</string>
      <string>uni2640</string>
      <string>uni266A</string>
      <string>uni266B</string>
      <string>uni263C</string>
      <string>uni25BA</string>
      <string>uni25C4</string>
      <string>uni2195</string>
      <string>uni203C</string>
      <string>uni25AC</string>
      <string>uni21A8</string>
      <string>uni2191</string>
      <string>uni2193</string>
      <string>uni2192</string>
      <string>uni2190</string>
      <string>uni221F</string>
      <string>uni2194</string>
      <string>uni25B2</string>
      <string>uni25BC</string>
      <string>uni2302</string>
      <string>uni20A7</string>
      <string>uni2310</string>
      <string>uni2584</string>
      <string>uni258C</string>
      <string>uni2590</string>
      <string>uni2580</string>
      <string>uni2229</string>
      <string>uni2261</string>
      <string>uni2320</string>
      <string>uni2321</string>
      <string>uni207F</string>
      <string>uni25A0</string>
      <string>SF040000</string>
      <string>SF020000</string>
      <string>SF010000</string>
      <string>SF110000</string>
      <string>SF090000</string>
      <string>SF100000</string>
      <string>SF070000</string>
      <string>SF060000</string>
      <string>SF080000</string>
      <string>SF050000</string>
      <string>SF030000</string>
      <string>glyph1814</string>
      <string>SF530000.001</string>
      <string>SF540000.001</string>
      <string>glyph1817</string>
      <string>glyph1818</string>
      <string>glyph1819</string>
      <string>glyph1820</string>
      <string>glyph1821</string>
      <string>glyph1822</string>
      <string>glyph1823</string>
      <string>ubuntu</string>
      <string>uniE0FF</string>
      <string>uniF0FF</string>
      <string>uniEFFD</string>
      <string>uniF000</string>
      <string>uniFFFD</string>
    </array>
  </dict>
</plist>
