<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B3042670-1AEF-4B04-8447-09ADE40CEB59</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
