<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F4DD5B92-94CB-4C82-A27D-D604AA08A994</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
