<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DE27A906-F9D8-48DC-B71F-C31F8C162469</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.osf</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
