<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Aogonek</key>
		<string>A_ogonek.glif</string>
		<key>Aringacute</key>
		<string>A_ringacute.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>Iogonek</key>
		<string>I_ogonek.glif</string>
		<key>SF010000.001</key>
		<string>S_F_010000.001.glif</string>
		<key>SF020000.001</key>
		<string>S_F_020000.001.glif</string>
		<key>SF030000.001</key>
		<string>S_F_030000.001.glif</string>
		<key>SF040000.001</key>
		<string>S_F_040000.001.glif</string>
		<key>SF050000.001</key>
		<string>S_F_050000.001.glif</string>
		<key>SF060000.001</key>
		<string>S_F_060000.001.glif</string>
		<key>SF070000.001</key>
		<string>S_F_070000.001.glif</string>
		<key>SF080000.001</key>
		<string>S_F_080000.001.glif</string>
		<key>SF090000.001</key>
		<string>S_F_090000.001.glif</string>
		<key>SF100000.001</key>
		<string>S_F_100000.001.glif</string>
		<key>SF110000.001</key>
		<string>S_F_110000.001.glif</string>
		<key>SF190000</key>
		<string>S_F_190000.glif</string>
		<key>SF210000</key>
		<string>S_F_210000.glif</string>
		<key>SF220000</key>
		<string>S_F_220000.glif</string>
		<key>SF260000</key>
		<string>S_F_260000.glif</string>
		<key>SF270000</key>
		<string>S_F_270000.glif</string>
		<key>SF280000</key>
		<string>S_F_280000.glif</string>
		<key>SF380000</key>
		<string>S_F_380000.glif</string>
		<key>SF420000</key>
		<string>S_F_420000.glif</string>
		<key>SF440000</key>
		<string>S_F_440000.glif</string>
		<key>SF490000</key>
		<string>S_F_490000.glif</string>
		<key>SF500000</key>
		<string>S_F_500000.glif</string>
		<key>SF510000</key>
		<string>S_F_510000.glif</string>
		<key>SF520000</key>
		<string>S_F_520000.glif</string>
		<key>Scedilla</key>
		<string>S_cedilla.glif</string>
		<key>Uogonek</key>
		<string>U_ogonek.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>acute.asc</key>
		<string>acute.asc.glif</string>
		<key>afii10089</key>
		<string>afii10089.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>circumflex</key>
		<string>circumflex.glif</string>
		<key>commaaccent</key>
		<string>commaaccent.glif</string>
		<key>dcaron</key>
		<string>dcaron.glif</string>
		<key>dieresis_acute.cap</key>
		<string>dieresis_acute.cap.glif</string>
		<key>dieresis_breve.cap</key>
		<string>dieresis_breve.cap.glif</string>
		<key>dieresis_grave.cap</key>
		<string>dieresis_grave.cap.glif</string>
		<key>double_grave</key>
		<string>double_grave.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>hungarumlaut</key>
		<string>hungarumlaut.glif</string>
		<key>ij</key>
		<string>ij.glif</string>
		<key>iogonek</key>
		<string>iogonek.glif</string>
		<key>ogonek</key>
		<string>ogonek.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>ring_acute</key>
		<string>ring_acute.glif</string>
		<key>scedilla</key>
		<string>scedilla.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>uni0163</key>
		<string>uni0163.glif</string>
		<key>uni01B9</key>
		<string>uni01B_9.glif</string>
		<key>uni01DE</key>
		<string>uni01D_E_.glif</string>
		<key>uni01E9</key>
		<string>uni01E_9.glif</string>
		<key>uni01EA</key>
		<string>uni01E_A_.glif</string>
		<key>uni01EB</key>
		<string>uni01E_B_.glif</string>
		<key>uni021F</key>
		<string>uni021F_.glif</string>
		<key>uni022A</key>
		<string>uni022A_.glif</string>
		<key>uni024F</key>
		<string>uni024F_.glif</string>
		<key>uni0498</key>
		<string>uni0498.glif</string>
		<key>uni0499</key>
		<string>uni0499.glif</string>
		<key>uni1FBE</key>
		<string>uni1F_B_E_.glif</string>
		<key>uogonek</key>
		<string>uogonek.glif</string>
	</dict>
</plist>
