<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9FF3D753-C038-4F61-BCB7-32EC663E7DD4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.001</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cheabkhasian-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chedescenderabkhasian-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cstroke</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcurl</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kastroke-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tshe-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twostroke</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
