<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Uring</key>
		<string>U_ring.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>acute.asc</key>
		<string>acute.asc.glif</string>
		<key>caron.alt</key>
		<string>caron.alt.glif</string>
		<key>caron.alt.short</key>
		<string>caron.alt.short.glif</string>
		<key>caron.asc</key>
		<string>caron.asc.glif</string>
		<key>circumflex.asc</key>
		<string>circumflex.asc.glif</string>
		<key>dcaron</key>
		<string>dcaron.glif</string>
		<key>florin</key>
		<string>florin.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>uni01B3</key>
		<string>uni01B_3.glif</string>
	</dict>
</plist>
