<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AC9B1689-87EC-4BC9-8984-FF68FB8100CF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.001</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
