<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Aogonek</key>
		<string>A_ogonek.glif</string>
		<key>Aring</key>
		<string>A_ring.glif</string>
		<key>Aringacute</key>
		<string>A_ringacute.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>Eogonek</key>
		<string>E_ogonek.glif</string>
		<key>Jcircumflex</key>
		<string>J_circumflex.glif</string>
		<key>Uogonek</key>
		<string>U_ogonek.glif</string>
		<key>Uring</key>
		<string>U_ring.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>acute.asc</key>
		<string>acute.asc.glif</string>
		<key>afii10089</key>
		<string>afii10089.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>caron.asc</key>
		<string>caron.asc.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>circumflex</key>
		<string>circumflex.glif</string>
		<key>circumflex.asc</key>
		<string>circumflex.asc.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>commaaccent</key>
		<string>commaaccent.glif</string>
		<key>dcaron</key>
		<string>dcaron.glif</string>
		<key>delta</key>
		<string>delta.glif</string>
		<key>dieresis_acute.cap</key>
		<string>dieresis_acute.cap.glif</string>
		<key>dieresis_breve.cap</key>
		<string>dieresis_breve.cap.glif</string>
		<key>dieresis_grave.cap</key>
		<string>dieresis_grave.cap.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>dotlessj</key>
		<string>dotlessj.glif</string>
		<key>double_grave</key>
		<string>double_grave.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>hcircumflex</key>
		<string>hcircumflex.glif</string>
		<key>hungarumlaut</key>
		<string>hungarumlaut.glif</string>
		<key>ij</key>
		<string>ij.glif</string>
		<key>iogonek</key>
		<string>iogonek.glif</string>
		<key>kgreenlandic.case</key>
		<string>kgreenlandic.case.glif</string>
		<key>lacute</key>
		<string>lacute.glif</string>
		<key>lcaron</key>
		<string>lcaron.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>napostrophe.case</key>
		<string>napostrophe.case.glif</string>
		<key>ogonek</key>
		<string>ogonek.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>plusminus</key>
		<string>plusminus.glif</string>
		<key>psi</key>
		<string>psi.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>ring_acute</key>
		<string>ring_acute.glif</string>
		<key>sigma1</key>
		<string>sigma1.glif</string>
		<key>tcaron</key>
		<string>tcaron.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>uni018A</key>
		<string>uni018A_.glif</string>
		<key>uni0194</key>
		<string>uni0194.glif</string>
		<key>uni01D5</key>
		<string>uni01D_5.glif</string>
		<key>uni01DE</key>
		<string>uni01D_E_.glif</string>
		<key>uni01E0</key>
		<string>uni01E_0.glif</string>
		<key>uni01E9</key>
		<string>uni01E_9.glif</string>
		<key>uni01EA</key>
		<string>uni01E_A_.glif</string>
		<key>uni01EB</key>
		<string>uni01E_B_.glif</string>
		<key>uni021F</key>
		<string>uni021F_.glif</string>
		<key>uni022A</key>
		<string>uni022A_.glif</string>
		<key>uni022C</key>
		<string>uni022C_.glif</string>
		<key>uni0230</key>
		<string>uni0230.glif</string>
		<key>uni04CC</key>
		<string>uni04C_C_.glif</string>
		<key>uni1F08</key>
		<string>uni1F_08.glif</string>
		<key>uni1F09</key>
		<string>uni1F_09.glif</string>
		<key>uni1F0A</key>
		<string>uni1F_0A_.glif</string>
		<key>uni1F0B</key>
		<string>uni1F_0B_.glif</string>
		<key>uni1F0C</key>
		<string>uni1F_0C_.glif</string>
		<key>uni1F0D</key>
		<string>uni1F_0D_.glif</string>
		<key>uni1F0E</key>
		<string>uni1F_0E_.glif</string>
		<key>uni1F18</key>
		<string>uni1F_18.glif</string>
		<key>uni1F19</key>
		<string>uni1F_19.glif</string>
		<key>uni1F1A</key>
		<string>uni1F_1A_.glif</string>
		<key>uni1F1B</key>
		<string>uni1F_1B_.glif</string>
		<key>uni1F1C</key>
		<string>uni1F_1C_.glif</string>
		<key>uni1F1D</key>
		<string>uni1F_1D_.glif</string>
		<key>uni1F28</key>
		<string>uni1F_28.glif</string>
		<key>uni1F29</key>
		<string>uni1F_29.glif</string>
		<key>uni1F2A</key>
		<string>uni1F_2A_.glif</string>
		<key>uni1F2B</key>
		<string>uni1F_2B_.glif</string>
		<key>uni1F2C</key>
		<string>uni1F_2C_.glif</string>
		<key>uni1F2D</key>
		<string>uni1F_2D_.glif</string>
		<key>uni1F2E</key>
		<string>uni1F_2E_.glif</string>
		<key>uni1F2F</key>
		<string>uni1F_2F_.glif</string>
		<key>uni1F38</key>
		<string>uni1F_38.glif</string>
		<key>uni1F39</key>
		<string>uni1F_39.glif</string>
		<key>uni1F3A</key>
		<string>uni1F_3A_.glif</string>
		<key>uni1F3B</key>
		<string>uni1F_3B_.glif</string>
		<key>uni1F3C</key>
		<string>uni1F_3C_.glif</string>
		<key>uni1F3D</key>
		<string>uni1F_3D_.glif</string>
		<key>uni1F3E</key>
		<string>uni1F_3E_.glif</string>
		<key>uni1F3F</key>
		<string>uni1F_3F_.glif</string>
		<key>uni1F48</key>
		<string>uni1F_48.glif</string>
		<key>uni1F49</key>
		<string>uni1F_49.glif</string>
		<key>uni1F4A</key>
		<string>uni1F_4A_.glif</string>
		<key>uni1F4B</key>
		<string>uni1F_4B_.glif</string>
		<key>uni1F4C</key>
		<string>uni1F_4C_.glif</string>
		<key>uni1F4D</key>
		<string>uni1F_4D_.glif</string>
		<key>uni1F59</key>
		<string>uni1F_59.glif</string>
		<key>uni1F5B</key>
		<string>uni1F_5B_.glif</string>
		<key>uni1F5D</key>
		<string>uni1F_5D_.glif</string>
		<key>uni1F5F</key>
		<string>uni1F_5F_.glif</string>
		<key>uni1F68</key>
		<string>uni1F_68.glif</string>
		<key>uni1F69</key>
		<string>uni1F_69.glif</string>
		<key>uni1F6A</key>
		<string>uni1F_6A_.glif</string>
		<key>uni1F6B</key>
		<string>uni1F_6B_.glif</string>
		<key>uni1F6C</key>
		<string>uni1F_6C_.glif</string>
		<key>uni1F6D</key>
		<string>uni1F_6D_.glif</string>
		<key>uni1F6E</key>
		<string>uni1F_6E_.glif</string>
		<key>uni1F6F</key>
		<string>uni1F_6F_.glif</string>
		<key>uni1F88</key>
		<string>uni1F_88.glif</string>
		<key>uni1F89</key>
		<string>uni1F_89.glif</string>
		<key>uni1FBE</key>
		<string>uni1F_B_E_.glif</string>
		<key>uogonek</key>
		<string>uogonek.glif</string>
	</dict>
</plist>
