<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6A5A3613-44D5-43AF-855D-75A94D952617</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.osf</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
