<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C18B109B-8633-44D8-B493-16456B269237</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniEFFD</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
