<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caron.alt</key>
    <string>caron.alt.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
  </dict>
</plist>
