<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>643CF5EE-2D26-4E77-ADD2-07F437975453</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaoxiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsiliperispomeniprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aringacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Astroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Bhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Btopbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cheabkhasian-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chedescenderabkhasian-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Enhook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eopen</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ereversed-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ezh</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Fita-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gamma-latin</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Glottalstop</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hardsign-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Io-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Izhitsa-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Khook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lje-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsili</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Qhooktail</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Semisoftsign-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sigma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Theta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ubar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yat-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhedescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.asc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute_greek.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.apostrophemod</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.locl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.btopbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.alt.short</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cheverticalstroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.asc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright.c2sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiavaria.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbdigraph</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcurl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.deltaturned</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikaperispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_grave.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_macron.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dot_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dot_macron.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.double_grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.double_grave.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enge-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro.osf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.numr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gamma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.glottalstopsmall</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave_greek.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hadescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.increment</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.izhitsa-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kgreenlandic</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.longs</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.micro</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.numr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph.c2sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.prosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.prosgegrammeni.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilioxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilioxia.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psiliperispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psiliperispomeni.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.published</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered.c2sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered.salt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring_acute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rupeeIndian</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rupeeIndian.osf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section.c2sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semisoftsign-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling.osf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde_macron.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonefive</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonesix</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik.osf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.osf</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.tosf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ustraightstroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen.osf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ygrave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ystroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhedescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zswashtail</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
