<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>643CF5EE-2D26-4E77-ADD2-07F437975453</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aringacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Delta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sigma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Theta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.asc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute_greek.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10021</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10023</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10029</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10044</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10046</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10047</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10058</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10066</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10066.locl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10073</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10077</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10092</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10099</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10106</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.apostrophe</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.alt.short</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.asc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_breve.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_grave.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_macron.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dot_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dot_macron.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.double_grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.double_grave.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fivesuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gamma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave_greek.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotright</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kgreenlandic</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.longs</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ninesuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.revcommaaccent</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring_acute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde_macron.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0162</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0163</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0181</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0182</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0183</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0185</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0190</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0194</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0198</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0221</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0224</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0238</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0240</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0241</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0242</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0244</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0249</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0462</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0463</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0472</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0474</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0475</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048C</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0496</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0497</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A9</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F68</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F89</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBE.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FC1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCE.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCF.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDD.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni20AE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni20B9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2117</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wacute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ygrave</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
