<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>18B03C00-B639-49BA-A104-A61AAC1FA91A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.osf</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
