<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Aogonek</key>
		<string>A_ogonek.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>Eng</key>
		<string>E_ng.glif</string>
		<key>afii10024</key>
		<string>afii10024.glif</string>
		<key>caron.alt.short</key>
		<string>caron.alt.short.glif</string>
		<key>f_f</key>
		<string>f_f.glif</string>
		<key>fi</key>
		<string>fi.glif</string>
		<key>fl</key>
		<string>fl.glif</string>
		<key>florin</key>
		<string>florin.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>uni019D</key>
		<string>uni019D_.glif</string>
		<key>uni01A5</key>
		<string>uni01A_5.glif</string>
		<key>uni01B3</key>
		<string>uni01B_3.glif</string>
		<key>uni01B5</key>
		<string>uni01B_5.glif</string>
		<key>uni01B6</key>
		<string>uni01B_6.glif</string>
		<key>uni023D</key>
		<string>uni023D_.glif</string>
		<key>uni0496</key>
		<string>uni0496.glif</string>
		<key>uniF000</key>
		<string>uniF_000.glif</string>
	</dict>
</plist>
