<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>acute</key>
		<string>acute.glif</string>
		<key>florin</key>
		<string>florin.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>tcaron</key>
		<string>tcaron.glif</string>
		<key>uni01B3</key>
		<string>uni01B_3.glif</string>
	</dict>
</plist>
