<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>afii10067</key>
    <string>afii10067.glif</string>
    <key>afii10099</key>
    <string>afii10099.glif</string>
    <key>afii10106</key>
    <string>afii10106.glif</string>
    <key>afii10108</key>
    <string>afii10108.glif</string>
    <key>ampersand.001</key>
    <string>ampersand.001.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>uni01BB</key>
    <string>uni01B_B_.glif</string>
    <key>uni0221</key>
    <string>uni0221.glif</string>
    <key>uni023C</key>
    <string>uni023C_.glif</string>
    <key>uni049F</key>
    <string>uni049F_.glif</string>
    <key>uni04A8</key>
    <string>uni04A_8.glif</string>
    <key>uni04A9</key>
    <string>uni04A_9.glif</string>
    <key>uni04BD</key>
    <string>uni04B_D_.glif</string>
    <key>uni04BF</key>
    <string>uni04B_F_.glif</string>
  </dict>
</plist>
