<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>ampersand.001</key>
    <string>ampersand.001.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>chedescenderabkhasian-cy</key>
    <string>chedescenderabkhasian-cy.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>cstroke</key>
    <string>cstroke.glif</string>
    <key>dcurl</key>
    <string>dcurl.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>kastroke-cy</key>
    <string>kastroke-cy.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>twostroke</key>
    <string>twostroke.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
  </dict>
</plist>
