<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9FF3D753-C038-4F61-BCB7-32EC663E7DD4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10067</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10099</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10106</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10108</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.001</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BB</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0221</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023C</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049F</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A8</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A9</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BD</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BF</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
