<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Aogonek</key>
		<string>A_ogonek.glif</string>
		<key>Aringacute</key>
		<string>A_ringacute.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>Jcircumflex</key>
		<string>J_circumflex.glif</string>
		<key>SF010000.001</key>
		<string>S_F_010000.001.glif</string>
		<key>SF020000.001</key>
		<string>S_F_020000.001.glif</string>
		<key>SF030000.001</key>
		<string>S_F_030000.001.glif</string>
		<key>SF040000.001</key>
		<string>S_F_040000.001.glif</string>
		<key>SF050000.001</key>
		<string>S_F_050000.001.glif</string>
		<key>SF060000.001</key>
		<string>S_F_060000.001.glif</string>
		<key>SF070000.001</key>
		<string>S_F_070000.001.glif</string>
		<key>SF080000.001</key>
		<string>S_F_080000.001.glif</string>
		<key>SF090000.001</key>
		<string>S_F_090000.001.glif</string>
		<key>SF100000.001</key>
		<string>S_F_100000.001.glif</string>
		<key>SF110000.001</key>
		<string>S_F_110000.001.glif</string>
		<key>SF190000</key>
		<string>S_F_190000.glif</string>
		<key>SF210000</key>
		<string>S_F_210000.glif</string>
		<key>SF220000</key>
		<string>S_F_220000.glif</string>
		<key>SF260000</key>
		<string>S_F_260000.glif</string>
		<key>SF270000</key>
		<string>S_F_270000.glif</string>
		<key>SF280000</key>
		<string>S_F_280000.glif</string>
		<key>SF380000</key>
		<string>S_F_380000.glif</string>
		<key>SF420000</key>
		<string>S_F_420000.glif</string>
		<key>SF440000</key>
		<string>S_F_440000.glif</string>
		<key>SF490000</key>
		<string>S_F_490000.glif</string>
		<key>SF500000</key>
		<string>S_F_500000.glif</string>
		<key>SF510000</key>
		<string>S_F_510000.glif</string>
		<key>SF520000</key>
		<string>S_F_520000.glif</string>
		<key>acute.asc</key>
		<string>acute.asc.glif</string>
		<key>afii10040</key>
		<string>afii10040.glif</string>
		<key>afii10042</key>
		<string>afii10042.glif</string>
		<key>afii10043</key>
		<string>afii10043.glif</string>
		<key>afii10104</key>
		<string>afii10104.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>caron.asc</key>
		<string>caron.asc.glif</string>
		<key>circumflex.asc</key>
		<string>circumflex.asc.glif</string>
		<key>dieresis_acute.cap</key>
		<string>dieresis_acute.cap.glif</string>
		<key>dieresis_breve.cap</key>
		<string>dieresis_breve.cap.glif</string>
		<key>dieresis_grave.cap</key>
		<string>dieresis_grave.cap.glif</string>
		<key>hcircumflex</key>
		<string>hcircumflex.glif</string>
		<key>jcircumflex</key>
		<string>jcircumflex.glif</string>
		<key>napostrophe.case</key>
		<string>napostrophe.case.glif</string>
		<key>uni01DE</key>
		<string>uni01D_E_.glif</string>
		<key>uni01E0</key>
		<string>uni01E_0.glif</string>
		<key>uni01E9</key>
		<string>uni01E_9.glif</string>
		<key>uni021F</key>
		<string>uni021F_.glif</string>
		<key>uni022A</key>
		<string>uni022A_.glif</string>
		<key>uni022C</key>
		<string>uni022C_.glif</string>
		<key>uni0230</key>
		<string>uni0230.glif</string>
		<key>uni1FBE</key>
		<string>uni1F_B_E_.glif</string>
	</dict>
</plist>
