<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>35450572-93D2-4E03-98D7-4966BE0E20E3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
