<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>192849E0-3212-48C1-A70B-5A34ED4C6A07</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniF000</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
