<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>837FEEE5-6C03-43DD-98EA-7F848C9D199D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.osf</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
