<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>afii10099</key>
    <string>afii10099.glif</string>
    <key>afii10106</key>
    <string>afii10106.glif</string>
    <key>afii10107</key>
    <string>afii10107.glif</string>
    <key>afii10108</key>
    <string>afii10108.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>uni04A8</key>
    <string>uni04A_8.glif</string>
    <key>uni04A9</key>
    <string>uni04A_9.glif</string>
  </dict>
</plist>
