<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5680AEAF-9A42-40D6-87C3-E5B1F0A5E0E9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10099</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10106</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10107</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10108</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A8</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A9</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
