<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a.sc</key>
    <string>a.sc.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>aogonek.sc</key>
    <string>aogonek.sc.glif</string>
    <key>aring.sc</key>
    <string>aring.sc.glif</string>
    <key>at.c2sc</key>
    <string>at.c2sc.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>be-cy.sc</key>
    <string>be-cy.sc.glif</string>
    <key>c.sc</key>
    <string>c.sc.glif</string>
    <key>che-cy.sc</key>
    <string>che-cy.sc.glif</string>
    <key>cheabkhasian-cy.sc</key>
    <string>cheabkhasian-cy.sc.glif</string>
    <key>chekhakassian-cy.sc</key>
    <string>chekhakassian-cy.sc.glif</string>
    <key>cheverticalstroke-cy.sc</key>
    <string>cheverticalstroke-cy.sc.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>de-cy.sc</key>
    <string>de-cy.sc.glif</string>
    <key>delta.sc</key>
    <string>delta.sc.glif</string>
    <key>dje-cy.sc</key>
    <string>dje-cy.sc.glif</string>
    <key>dollar.osf</key>
    <string>dollar.osf.glif</string>
    <key>e-cy.sc</key>
    <string>e-cy.sc.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>ef-cy.sc</key>
    <string>ef-cy.sc.glif</string>
    <key>el-cy.sc</key>
    <string>el-cy.sc.glif</string>
    <key>eng.sc</key>
    <string>eng.sc.glif</string>
    <key>enhook-cy.sc</key>
    <string>enhook-cy.sc.glif</string>
    <key>eth.sc</key>
    <string>eth.sc.glif</string>
    <key>eturned.sc</key>
    <string>eturned.sc.glif</string>
    <key>ezh.sc</key>
    <string>ezh.sc.glif</string>
    <key>f.sc</key>
    <string>f.sc.glif</string>
    <key>fita-cy.sc</key>
    <string>fita-cy.sc.glif</string>
    <key>g.sc</key>
    <string>g.sc.glif</string>
    <key>ge-cy.sc</key>
    <string>ge-cy.sc.glif</string>
    <key>gemiddlehook-cy.sc</key>
    <string>gemiddlehook-cy.sc.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>gestroke-cy.sc</key>
    <string>gestroke-cy.sc.glif</string>
    <key>glottalstopsmall.sc</key>
    <string>glottalstopsmall.sc.glif</string>
    <key>gstroke.sc</key>
    <string>gstroke.sc.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>haabkhasian-cy.sc</key>
    <string>haabkhasian-cy.sc.glif</string>
    <key>hbar.sc</key>
    <string>hbar.sc.glif</string>
    <key>hv.sc</key>
    <string>hv.sc.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>izhitsa-cy.sc</key>
    <string>izhitsa-cy.sc.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>kadescender-cy.sc</key>
    <string>kadescender-cy.sc.glif</string>
    <key>kahook-cy.sc</key>
    <string>kahook-cy.sc.glif</string>
    <key>kaverticalstroke-cy.sc</key>
    <string>kaverticalstroke-cy.sc.glif</string>
    <key>khook.sc</key>
    <string>khook.sc.glif</string>
    <key>l.sc</key>
    <string>l.sc.glif</string>
    <key>lje-cy.sc</key>
    <string>lje-cy.sc.glif</string>
    <key>lslash.sc</key>
    <string>lslash.sc.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>nlegrightlong.sc</key>
    <string>nlegrightlong.sc.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>ohorn.sc</key>
    <string>ohorn.sc.glif</string>
    <key>oi.sc</key>
    <string>oi.sc.glif</string>
    <key>omega.sc</key>
    <string>omega.sc.glif</string>
    <key>oogonek.sc</key>
    <string>oogonek.sc.glif</string>
    <key>oslash.sc</key>
    <string>oslash.sc.glif</string>
    <key>ou.sc</key>
    <string>ou.sc.glif</string>
    <key>p.sc</key>
    <string>p.sc.glif</string>
    <key>pe-cy.sc</key>
    <string>pe-cy.sc.glif</string>
    <key>pemiddlehook-cy.sc</key>
    <string>pemiddlehook-cy.sc.glif</string>
    <key>phook.sc</key>
    <string>phook.sc.glif</string>
    <key>psi.sc</key>
    <string>psi.sc.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>qhooktail.sc</key>
    <string>qhooktail.sc.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>registered.c2sc</key>
    <string>registered.c2sc.glif</string>
    <key>rupeeIndian.osf</key>
    <string>rupeeI_ndian.osf.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>sha-cy.sc</key>
    <string>sha-cy.sc.glif</string>
    <key>shcha-cy.sc</key>
    <string>shcha-cy.sc.glif</string>
    <key>shha-cy.sc</key>
    <string>shha-cy.sc.glif</string>
    <key>sigmafinal</key>
    <string>sigmafinal.glif</string>
    <key>softsign-cy.sc</key>
    <string>softsign-cy.sc.glif</string>
    <key>sterling.osf</key>
    <string>sterling.osf.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>tbar.sc</key>
    <string>tbar.sc.glif</string>
    <key>tetse-cy.sc</key>
    <string>tetse-cy.sc.glif</string>
    <key>thorn.sc</key>
    <string>thorn.sc.glif</string>
    <key>tonefive.sc</key>
    <string>tonefive.sc.glif</string>
    <key>tpalatalhook.sc</key>
    <string>tpalatalhook.sc.glif</string>
    <key>tse-cy.sc</key>
    <string>tse-cy.sc.glif</string>
    <key>tshe-cy.sc</key>
    <string>tshe-cy.sc.glif</string>
    <key>u-cy.sc</key>
    <string>u-cy.sc.glif</string>
    <key>u.sc</key>
    <string>u.sc.glif</string>
    <key>uhorn.sc</key>
    <string>uhorn.sc.glif</string>
    <key>uogonek.sc</key>
    <string>uogonek.sc.glif</string>
    <key>ustraightstroke-cy.sc</key>
    <string>ustraightstroke-cy.sc.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>w.sc</key>
    <string>w.sc.glif</string>
    <key>wynn.sc</key>
    <string>wynn.sc.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>xi.sc</key>
    <string>xi.sc.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
    <key>yat-cy.sc</key>
    <string>yat-cy.sc.glif</string>
    <key>yhook.sc</key>
    <string>yhook.sc.glif</string>
    <key>yogh.sc</key>
    <string>yogh.sc.glif</string>
    <key>yu-cy.sc</key>
    <string>yu-cy.sc.glif</string>
    <key>z.sc</key>
    <string>z.sc.glif</string>
    <key>ze-cy.sc</key>
    <string>ze-cy.sc.glif</string>
    <key>zhe-cy.sc</key>
    <string>zhe-cy.sc.glif</string>
    <key>zhedescender-cy.sc</key>
    <string>zhedescender-cy.sc.glif</string>
    <key>zhook.sc</key>
    <string>zhook.sc.glif</string>
  </dict>
</plist>
