<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>afii10066</key>
    <string>afii10066.glif</string>
    <key>afii10067</key>
    <string>afii10067.glif</string>
    <key>afii10068</key>
    <string>afii10068.glif</string>
    <key>afii10069</key>
    <string>afii10069.glif</string>
    <key>afii10072</key>
    <string>afii10072.glif</string>
    <key>afii10073</key>
    <string>afii10073.glif</string>
    <key>afii10074</key>
    <string>afii10074.glif</string>
    <key>afii10077</key>
    <string>afii10077.glif</string>
    <key>afii10078</key>
    <string>afii10078.glif</string>
    <key>afii10079</key>
    <string>afii10079.glif</string>
    <key>afii10081</key>
    <string>afii10081.glif</string>
    <key>afii10084</key>
    <string>afii10084.glif</string>
    <key>afii10086</key>
    <string>afii10086.glif</string>
    <key>afii10088</key>
    <string>afii10088.glif</string>
    <key>afii10089</key>
    <string>afii10089.glif</string>
    <key>afii10090</key>
    <string>afii10090.glif</string>
    <key>afii10091</key>
    <string>afii10091.glif</string>
    <key>afii10092</key>
    <string>afii10092.glif</string>
    <key>afii10093</key>
    <string>afii10093.glif</string>
    <key>afii10094</key>
    <string>afii10094.glif</string>
    <key>afii10095</key>
    <string>afii10095.glif</string>
    <key>afii10096</key>
    <string>afii10096.glif</string>
    <key>afii10097</key>
    <string>afii10097.glif</string>
    <key>afii10098</key>
    <string>afii10098.glif</string>
    <key>afii10099</key>
    <string>afii10099.glif</string>
    <key>afii10101</key>
    <string>afii10101.glif</string>
    <key>afii10106</key>
    <string>afii10106.glif</string>
    <key>afii10107</key>
    <string>afii10107.glif</string>
    <key>afii10108</key>
    <string>afii10108.glif</string>
    <key>afii10193</key>
    <string>afii10193.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>sigma1</key>
    <string>sigma1.glif</string>
  </dict>
</plist>
