<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Guillemotleft</key>
    <string>G_uillemotleft.glif</string>
    <key>Guillemotright</key>
    <string>G_uillemotright.glif</string>
    <key>Iotatonos</key>
    <string>I_otatonos.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>afii10021</key>
    <string>afii10021.glif</string>
    <key>afii10024</key>
    <string>afii10024.glif</string>
    <key>afii10026</key>
    <string>afii10026.glif</string>
    <key>afii10029</key>
    <string>afii10029.glif</string>
    <key>afii10037</key>
    <string>afii10037.glif</string>
    <key>afii10040</key>
    <string>afii10040.glif</string>
    <key>afii10041</key>
    <string>afii10041.glif</string>
    <key>afii10043</key>
    <string>afii10043.glif</string>
    <key>afii10044</key>
    <string>afii10044.glif</string>
    <key>afii10045</key>
    <string>afii10045.glif</string>
    <key>afii10048</key>
    <string>afii10048.glif</string>
    <key>afii10051</key>
    <string>afii10051.glif</string>
    <key>afii10053</key>
    <string>afii10053.glif</string>
    <key>afii10056</key>
    <string>afii10056.glif</string>
    <key>afii10058</key>
    <string>afii10058.glif</string>
    <key>afii10059</key>
    <string>afii10059.glif</string>
    <key>afii10060</key>
    <string>afii10060.glif</string>
    <key>afii10066</key>
    <string>afii10066.glif</string>
    <key>afii10066.locl</key>
    <string>afii10066.locl.glif</string>
    <key>afii10067</key>
    <string>afii10067.glif</string>
    <key>afii10072</key>
    <string>afii10072.glif</string>
    <key>afii10073</key>
    <string>afii10073.glif</string>
    <key>afii10074</key>
    <string>afii10074.glif</string>
    <key>afii10077</key>
    <string>afii10077.glif</string>
    <key>afii10078</key>
    <string>afii10078.glif</string>
    <key>afii10079</key>
    <string>afii10079.glif</string>
    <key>afii10081</key>
    <string>afii10081.glif</string>
    <key>afii10086</key>
    <string>afii10086.glif</string>
    <key>afii10088</key>
    <string>afii10088.glif</string>
    <key>afii10089</key>
    <string>afii10089.glif</string>
    <key>afii10091</key>
    <string>afii10091.glif</string>
    <key>afii10092</key>
    <string>afii10092.glif</string>
    <key>afii10093</key>
    <string>afii10093.glif</string>
    <key>afii10095</key>
    <string>afii10095.glif</string>
    <key>afii10096</key>
    <string>afii10096.glif</string>
    <key>afii10097</key>
    <string>afii10097.glif</string>
    <key>afii10099</key>
    <string>afii10099.glif</string>
    <key>afii10101</key>
    <string>afii10101.glif</string>
    <key>afii10104</key>
    <string>afii10104.glif</string>
    <key>afii10106</key>
    <string>afii10106.glif</string>
    <key>afii10107</key>
    <string>afii10107.glif</string>
    <key>afii10108</key>
    <string>afii10108.glif</string>
    <key>afii10145</key>
    <string>afii10145.glif</string>
    <key>afii10193</key>
    <string>afii10193.glif</string>
    <key>afii61289</key>
    <string>afii61289.glif</string>
    <key>afii61352</key>
    <string>afii61352.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>kratka</key>
    <string>kratka.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>onethird</key>
    <string>onethird.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>rouble</key>
    <string>rouble.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>sigma1</key>
    <string>sigma1.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonos.cap</key>
    <string>tonos.cap.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>uni0180</key>
    <string>uni0180.glif</string>
    <key>uni0181</key>
    <string>uni0181.glif</string>
    <key>uni0182</key>
    <string>uni0182.glif</string>
    <key>uni0183</key>
    <string>uni0183.glif</string>
    <key>uni0184</key>
    <string>uni0184.glif</string>
    <key>uni0185</key>
    <string>uni0185.glif</string>
    <key>uni0186</key>
    <string>uni0186.glif</string>
    <key>uni0187</key>
    <string>uni0187.glif</string>
    <key>uni0188</key>
    <string>uni0188.glif</string>
    <key>uni018A</key>
    <string>uni018A_.glif</string>
    <key>uni018B</key>
    <string>uni018B_.glif</string>
    <key>uni018C</key>
    <string>uni018C_.glif</string>
    <key>uni018D</key>
    <string>uni018D_.glif</string>
    <key>uni018F</key>
    <string>uni018F_.glif</string>
    <key>uni0190</key>
    <string>uni0190.glif</string>
    <key>uni0191</key>
    <string>uni0191.glif</string>
    <key>uni0193</key>
    <string>uni0193.glif</string>
    <key>uni0194</key>
    <string>uni0194.glif</string>
    <key>uni0195</key>
    <string>uni0195.glif</string>
    <key>uni0196</key>
    <string>uni0196.glif</string>
    <key>uni0198</key>
    <string>uni0198.glif</string>
    <key>uni0199</key>
    <string>uni0199.glif</string>
    <key>uni019A</key>
    <string>uni019A_.glif</string>
    <key>uni019B</key>
    <string>uni019B_.glif</string>
    <key>uni019C</key>
    <string>uni019C_.glif</string>
    <key>uni019F</key>
    <string>uni019F_.glif</string>
    <key>uni01A2</key>
    <string>uni01A_2.glif</string>
    <key>uni01A3</key>
    <string>uni01A_3.glif</string>
    <key>uni01A4</key>
    <string>uni01A_4.glif</string>
    <key>uni01A5</key>
    <string>uni01A_5.glif</string>
    <key>uni01A6</key>
    <string>uni01A_6.glif</string>
    <key>uni01A9</key>
    <string>uni01A_9.glif</string>
    <key>uni01AA</key>
    <string>uni01A_A_.glif</string>
    <key>uni01AB</key>
    <string>uni01A_B_.glif</string>
    <key>uni01AC</key>
    <string>uni01A_C_.glif</string>
    <key>uni01AD</key>
    <string>uni01A_D_.glif</string>
    <key>uni01AE</key>
    <string>uni01A_E_.glif</string>
    <key>uni01B2</key>
    <string>uni01B_2.glif</string>
    <key>uni01B3</key>
    <string>uni01B_3.glif</string>
    <key>uni01B4</key>
    <string>uni01B_4.glif</string>
    <key>uni01B5</key>
    <string>uni01B_5.glif</string>
    <key>uni01B6</key>
    <string>uni01B_6.glif</string>
    <key>uni01B7</key>
    <string>uni01B_7.glif</string>
    <key>uni01B8</key>
    <string>uni01B_8.glif</string>
    <key>uni01B9</key>
    <string>uni01B_9.glif</string>
    <key>uni01BA</key>
    <string>uni01B_A_.glif</string>
    <key>uni01BB</key>
    <string>uni01B_B_.glif</string>
    <key>uni01BC</key>
    <string>uni01B_C_.glif</string>
    <key>uni01BD</key>
    <string>uni01B_D_.glif</string>
    <key>uni01BE</key>
    <string>uni01B_E_.glif</string>
    <key>uni01BF</key>
    <string>uni01B_F_.glif</string>
    <key>uni01C4</key>
    <string>uni01C_4.glif</string>
    <key>uni01C5</key>
    <string>uni01C_5.glif</string>
    <key>uni01C6</key>
    <string>uni01C_6.glif</string>
    <key>uni01E4</key>
    <string>uni01E_4.glif</string>
    <key>uni01E5</key>
    <string>uni01E_5.glif</string>
    <key>uni01EA</key>
    <string>uni01E_A_.glif</string>
    <key>uni01EB</key>
    <string>uni01E_B_.glif</string>
    <key>uni01EC</key>
    <string>uni01E_C_.glif</string>
    <key>uni01F1</key>
    <string>uni01F_1.glif</string>
    <key>uni01F2</key>
    <string>uni01F_2.glif</string>
    <key>uni01F3</key>
    <string>uni01F_3.glif</string>
    <key>uni01F6</key>
    <string>uni01F_6.glif</string>
    <key>uni01F7</key>
    <string>uni01F_7.glif</string>
    <key>uni021C</key>
    <string>uni021C_.glif</string>
    <key>uni021D</key>
    <string>uni021D_.glif</string>
    <key>uni0220</key>
    <string>uni0220.glif</string>
    <key>uni0221</key>
    <string>uni0221.glif</string>
    <key>uni0222</key>
    <string>uni0222.glif</string>
    <key>uni0223</key>
    <string>uni0223.glif</string>
    <key>uni0224</key>
    <string>uni0224.glif</string>
    <key>uni0225</key>
    <string>uni0225.glif</string>
    <key>uni0228</key>
    <string>uni0228.glif</string>
    <key>uni0229</key>
    <string>uni0229.glif</string>
    <key>uni0234</key>
    <string>uni0234.glif</string>
    <key>uni0235</key>
    <string>uni0235.glif</string>
    <key>uni0238</key>
    <string>uni0238.glif</string>
    <key>uni0239</key>
    <string>uni0239.glif</string>
    <key>uni023A</key>
    <string>uni023A_.glif</string>
    <key>uni023B</key>
    <string>uni023B_.glif</string>
    <key>uni023C</key>
    <string>uni023C_.glif</string>
    <key>uni023D</key>
    <string>uni023D_.glif</string>
    <key>uni023E</key>
    <string>uni023E_.glif</string>
    <key>uni023F</key>
    <string>uni023F_.glif</string>
    <key>uni0240</key>
    <string>uni0240.glif</string>
    <key>uni0241</key>
    <string>uni0241.glif</string>
    <key>uni0242</key>
    <string>uni0242.glif</string>
    <key>uni0243</key>
    <string>uni0243.glif</string>
    <key>uni0244</key>
    <string>uni0244.glif</string>
    <key>uni0246</key>
    <string>uni0246.glif</string>
    <key>uni0247</key>
    <string>uni0247.glif</string>
    <key>uni0248</key>
    <string>uni0248.glif</string>
    <key>uni0249</key>
    <string>uni0249.glif</string>
    <key>uni024C</key>
    <string>uni024C_.glif</string>
    <key>uni024D</key>
    <string>uni024D_.glif</string>
    <key>uni024E</key>
    <string>uni024E_.glif</string>
    <key>uni024F</key>
    <string>uni024F_.glif</string>
    <key>uni0450</key>
    <string>uni0450.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0473</key>
    <string>uni0473.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni048A</key>
    <string>uni048A_.glif</string>
    <key>uni048B</key>
    <string>uni048B_.glif</string>
    <key>uni048C</key>
    <string>uni048C_.glif</string>
    <key>uni048D</key>
    <string>uni048D_.glif</string>
    <key>uni048E</key>
    <string>uni048E_.glif</string>
    <key>uni048F</key>
    <string>uni048F_.glif</string>
    <key>uni0493</key>
    <string>uni0493.glif</string>
    <key>uni0494</key>
    <string>uni0494.glif</string>
    <key>uni0495</key>
    <string>uni0495.glif</string>
    <key>uni0496</key>
    <string>uni0496.glif</string>
    <key>uni0497</key>
    <string>uni0497.glif</string>
    <key>uni0498</key>
    <string>uni0498.glif</string>
    <key>uni0499</key>
    <string>uni0499.glif</string>
    <key>uni049A</key>
    <string>uni049A_.glif</string>
    <key>uni049B</key>
    <string>uni049B_.glif</string>
    <key>uni049C</key>
    <string>uni049C_.glif</string>
    <key>uni049D</key>
    <string>uni049D_.glif</string>
    <key>uni049E</key>
    <string>uni049E_.glif</string>
    <key>uni04A0</key>
    <string>uni04A_0.glif</string>
    <key>uni04A1</key>
    <string>uni04A_1.glif</string>
    <key>uni04A4</key>
    <string>uni04A_4.glif</string>
    <key>uni04A5</key>
    <string>uni04A_5.glif</string>
    <key>uni04A6</key>
    <string>uni04A_6.glif</string>
    <key>uni04A8</key>
    <string>uni04A_8.glif</string>
    <key>uni04A9</key>
    <string>uni04A_9.glif</string>
    <key>uni04AF</key>
    <string>uni04A_F_.glif</string>
    <key>uni04B0</key>
    <string>uni04B_0.glif</string>
    <key>uni04B1</key>
    <string>uni04B_1.glif</string>
    <key>uni04B2</key>
    <string>uni04B_2.glif</string>
    <key>uni04B4</key>
    <string>uni04B_4.glif</string>
    <key>uni04B5</key>
    <string>uni04B_5.glif</string>
    <key>uni04B7</key>
    <string>uni04B_7.glif</string>
    <key>uni04B8</key>
    <string>uni04B_8.glif</string>
    <key>uni04B9</key>
    <string>uni04B_9.glif</string>
    <key>uni04BA</key>
    <string>uni04B_A_.glif</string>
    <key>uni04BC</key>
    <string>uni04B_C_.glif</string>
    <key>uni04BD</key>
    <string>uni04B_D_.glif</string>
    <key>uni04BE</key>
    <string>uni04B_E_.glif</string>
    <key>uni04BF</key>
    <string>uni04B_F_.glif</string>
    <key>uni04C3</key>
    <string>uni04C_3.glif</string>
    <key>uni04C4</key>
    <string>uni04C_4.glif</string>
    <key>uni04C5</key>
    <string>uni04C_5.glif</string>
    <key>uni04C6</key>
    <string>uni04C_6.glif</string>
    <key>uni04C7</key>
    <string>uni04C_7.glif</string>
    <key>uni04CB</key>
    <string>uni04C_B_.glif</string>
    <key>uni04CE</key>
    <string>uni04C_E_.glif</string>
    <key>uni04D0</key>
    <string>uni04D_0.glif</string>
    <key>uni04D1</key>
    <string>uni04D_1.glif</string>
    <key>uni04D2</key>
    <string>uni04D_2.glif</string>
    <key>uni04D3</key>
    <string>uni04D_3.glif</string>
    <key>uni04D6</key>
    <string>uni04D_6.glif</string>
    <key>uni04D7</key>
    <string>uni04D_7.glif</string>
    <key>uni04E6</key>
    <string>uni04E_6.glif</string>
    <key>uni04E7</key>
    <string>uni04E_7.glif</string>
    <key>uni04E9</key>
    <string>uni04E_9.glif</string>
    <key>uni04F7</key>
    <string>uni04F_7.glif</string>
    <key>uni1F0B</key>
    <string>uni1F_0B_.glif</string>
    <key>uni1F0D</key>
    <string>uni1F_0D_.glif</string>
    <key>uni1F18</key>
    <string>uni1F_18.glif</string>
    <key>uni1F19</key>
    <string>uni1F_19.glif</string>
    <key>uni1F1A</key>
    <string>uni1F_1A_.glif</string>
    <key>uni1F1B</key>
    <string>uni1F_1B_.glif</string>
    <key>uni1F1C</key>
    <string>uni1F_1C_.glif</string>
    <key>uni1F1D</key>
    <string>uni1F_1D_.glif</string>
    <key>uni1F38</key>
    <string>uni1F_38.glif</string>
    <key>uni1F39</key>
    <string>uni1F_39.glif</string>
    <key>uni1F3A</key>
    <string>uni1F_3A_.glif</string>
    <key>uni1F3B</key>
    <string>uni1F_3B_.glif</string>
    <key>uni1F3C</key>
    <string>uni1F_3C_.glif</string>
    <key>uni1F3D</key>
    <string>uni1F_3D_.glif</string>
    <key>uni1F4B</key>
    <string>uni1F_4B_.glif</string>
    <key>uni1F4D</key>
    <string>uni1F_4D_.glif</string>
    <key>uni1F69</key>
    <string>uni1F_69.glif</string>
    <key>uni1F6A</key>
    <string>uni1F_6A_.glif</string>
    <key>uni1F6B</key>
    <string>uni1F_6B_.glif</string>
    <key>uni1F6C</key>
    <string>uni1F_6C_.glif</string>
    <key>uni1F6D</key>
    <string>uni1F_6D_.glif</string>
    <key>uni1F6F</key>
    <string>uni1F_6F_.glif</string>
    <key>uni1F80</key>
    <string>uni1F_80.glif</string>
    <key>uni1F81</key>
    <string>uni1F_81.glif</string>
    <key>uni1F82</key>
    <string>uni1F_82.glif</string>
    <key>uni1F83</key>
    <string>uni1F_83.glif</string>
    <key>uni1F84</key>
    <string>uni1F_84.glif</string>
    <key>uni1F85</key>
    <string>uni1F_85.glif</string>
    <key>uni1F86</key>
    <string>uni1F_86.glif</string>
    <key>uni1F87</key>
    <string>uni1F_87.glif</string>
    <key>uni1F88</key>
    <string>uni1F_88.glif</string>
    <key>uni1F88.alt</key>
    <string>uni1F_88.alt.glif</string>
    <key>uni1F89</key>
    <string>uni1F_89.glif</string>
    <key>uni1F89.alt</key>
    <string>uni1F_89.alt.glif</string>
    <key>uni1F8A</key>
    <string>uni1F_8A_.glif</string>
    <key>uni1F8A.alt</key>
    <string>uni1F_8A_.alt.glif</string>
    <key>uni1F8B</key>
    <string>uni1F_8B_.glif</string>
    <key>uni1F8B.alt</key>
    <string>uni1F_8B_.alt.glif</string>
    <key>uni1F8C</key>
    <string>uni1F_8C_.glif</string>
    <key>uni1F8C.alt</key>
    <string>uni1F_8C_.alt.glif</string>
    <key>uni1F8D</key>
    <string>uni1F_8D_.glif</string>
    <key>uni1F8D.alt</key>
    <string>uni1F_8D_.alt.glif</string>
    <key>uni1F8E</key>
    <string>uni1F_8E_.glif</string>
    <key>uni1F8E.alt</key>
    <string>uni1F_8E_.alt.glif</string>
    <key>uni1F8F</key>
    <string>uni1F_8F_.glif</string>
    <key>uni1F8F.alt</key>
    <string>uni1F_8F_.alt.glif</string>
    <key>uni1F98</key>
    <string>uni1F_98.glif</string>
    <key>uni1F98.alt</key>
    <string>uni1F_98.alt.glif</string>
    <key>uni1F99</key>
    <string>uni1F_99.glif</string>
    <key>uni1F99.alt</key>
    <string>uni1F_99.alt.glif</string>
    <key>uni1F9A</key>
    <string>uni1F_9A_.glif</string>
    <key>uni1F9A.alt</key>
    <string>uni1F_9A_.alt.glif</string>
    <key>uni1F9B</key>
    <string>uni1F_9B_.glif</string>
    <key>uni1F9B.alt</key>
    <string>uni1F_9B_.alt.glif</string>
    <key>uni1F9C</key>
    <string>uni1F_9C_.glif</string>
    <key>uni1F9C.alt</key>
    <string>uni1F_9C_.alt.glif</string>
    <key>uni1F9D</key>
    <string>uni1F_9D_.glif</string>
    <key>uni1F9D.alt</key>
    <string>uni1F_9D_.alt.glif</string>
    <key>uni1F9E</key>
    <string>uni1F_9E_.glif</string>
    <key>uni1F9E.alt</key>
    <string>uni1F_9E_.alt.glif</string>
    <key>uni1F9F</key>
    <string>uni1F_9F_.glif</string>
    <key>uni1F9F.alt</key>
    <string>uni1F_9F_.alt.glif</string>
    <key>uni1FA8</key>
    <string>uni1F_A_8.glif</string>
    <key>uni1FA8.alt</key>
    <string>uni1F_A_8.alt.glif</string>
    <key>uni1FA9</key>
    <string>uni1F_A_9.glif</string>
    <key>uni1FA9.alt</key>
    <string>uni1F_A_9.alt.glif</string>
    <key>uni1FAA</key>
    <string>uni1F_A_A_.glif</string>
    <key>uni1FAA.alt</key>
    <string>uni1F_A_A_.alt.glif</string>
    <key>uni1FAB</key>
    <string>uni1F_A_B_.glif</string>
    <key>uni1FAB.alt</key>
    <string>uni1F_A_B_.alt.glif</string>
    <key>uni1FAC</key>
    <string>uni1F_A_C_.glif</string>
    <key>uni1FAC.alt</key>
    <string>uni1F_A_C_.alt.glif</string>
    <key>uni1FAD</key>
    <string>uni1F_A_D_.glif</string>
    <key>uni1FAD.alt</key>
    <string>uni1F_A_D_.alt.glif</string>
    <key>uni1FAE</key>
    <string>uni1F_A_E_.glif</string>
    <key>uni1FAE.alt</key>
    <string>uni1F_A_E_.alt.glif</string>
    <key>uni1FAF</key>
    <string>uni1F_A_F_.glif</string>
    <key>uni1FAF.alt</key>
    <string>uni1F_A_F_.alt.glif</string>
    <key>uni1FB2</key>
    <string>uni1F_B_2.glif</string>
    <key>uni1FB3</key>
    <string>uni1F_B_3.glif</string>
    <key>uni1FB4</key>
    <string>uni1F_B_4.glif</string>
    <key>uni1FB6</key>
    <string>uni1F_B_6.glif</string>
    <key>uni1FB7</key>
    <string>uni1F_B_7.glif</string>
    <key>uni1FB8</key>
    <string>uni1F_B_8.glif</string>
    <key>uni1FBC</key>
    <string>uni1F_B_C_.glif</string>
    <key>uni1FBC.alt</key>
    <string>uni1F_B_C_.alt.glif</string>
    <key>uni1FBF</key>
    <string>uni1F_B_F_.glif</string>
    <key>uni1FC0</key>
    <string>uni1F_C_0.glif</string>
    <key>uni1FC4</key>
    <string>uni1F_C_4.glif</string>
    <key>uni1FC8</key>
    <string>uni1F_C_8.glif</string>
    <key>uni1FC9</key>
    <string>uni1F_C_9.glif</string>
    <key>uni1FCA</key>
    <string>uni1F_C_A_.glif</string>
    <key>uni1FCB</key>
    <string>uni1F_C_B_.glif</string>
    <key>uni1FCC.alt</key>
    <string>uni1F_C_C_.alt.glif</string>
    <key>uni1FCD</key>
    <string>uni1F_C_D_.glif</string>
    <key>uni1FCE</key>
    <string>uni1F_C_E_.glif</string>
    <key>uni1FCF</key>
    <string>uni1F_C_F_.glif</string>
    <key>uni1FDB</key>
    <string>uni1F_D_B_.glif</string>
    <key>uni1FDD</key>
    <string>uni1F_D_D_.glif</string>
    <key>uni1FDE</key>
    <string>uni1F_D_E_.glif</string>
    <key>uni1FDF</key>
    <string>uni1F_D_F_.glif</string>
    <key>uni1FEC</key>
    <string>uni1F_E_C_.glif</string>
    <key>uni1FEE</key>
    <string>uni1F_E_E_.glif</string>
    <key>uni1FEF</key>
    <string>uni1F_E_F_.glif</string>
    <key>uni1FF7</key>
    <string>uni1F_F_7.glif</string>
    <key>uni1FF8</key>
    <string>uni1F_F_8.glif</string>
    <key>uni1FF9</key>
    <string>uni1F_F_9.glif</string>
    <key>uni1FFA</key>
    <string>uni1F_F_A_.glif</string>
    <key>uni1FFB</key>
    <string>uni1F_F_B_.glif</string>
    <key>uni1FFC.alt</key>
    <string>uni1F_F_C_.alt.glif</string>
    <key>uni1FFD</key>
    <string>uni1F_F_D_.glif</string>
    <key>uni1FFE</key>
    <string>uni1F_F_E_.glif</string>
    <key>uni20AE</key>
    <string>uni20A_E_.glif</string>
    <key>uni20B4</key>
    <string>uni20B_4.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
  </dict>
</plist>
