<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Guillemotleft</key>
    <string>G_uillemotleft.glif</string>
    <key>Guillemotright</key>
    <string>G_uillemotright.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>kratka</key>
    <string>kratka.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonos.cap</key>
    <string>tonos.cap.glif</string>
    <key>uni1FBF</key>
    <string>uni1F_B_F_.glif</string>
    <key>uni1FC0</key>
    <string>uni1F_C_0.glif</string>
    <key>uni1FCD</key>
    <string>uni1F_C_D_.glif</string>
    <key>uni1FCE</key>
    <string>uni1F_C_E_.glif</string>
    <key>uni1FCF</key>
    <string>uni1F_C_F_.glif</string>
    <key>uni1FDD</key>
    <string>uni1F_D_D_.glif</string>
    <key>uni1FDE</key>
    <string>uni1F_D_E_.glif</string>
    <key>uni1FDF</key>
    <string>uni1F_D_F_.glif</string>
    <key>uni1FEF</key>
    <string>uni1F_E_F_.glif</string>
    <key>uni1FFD</key>
    <string>uni1F_F_D_.glif</string>
    <key>uni1FFE</key>
    <string>uni1F_F_E_.glif</string>
  </dict>
</plist>
