<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abreve-cy</key>
    <string>A_breve-cy.glif</string>
    <key>Adieresis-cy</key>
    <string>A_dieresis-cy.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Alphadasiaoxia</key>
    <string>A_lphadasiaoxia.glif</string>
    <key>Alphadasiaoxiaprosgegrammeni</key>
    <string>A_lphadasiaoxiaprosgegrammeni.glif</string>
    <key>Alphadasiaoxiaprosgegrammeni.alt</key>
    <string>A_lphadasiaoxiaprosgegrammeni.alt.glif</string>
    <key>Alphadasiaperispomeniprosgegrammeni</key>
    <string>A_lphadasiaperispomeniprosgegrammeni.glif</string>
    <key>Alphadasiaperispomeniprosgegrammeni.alt</key>
    <string>A_lphadasiaperispomeniprosgegrammeni.alt.glif</string>
    <key>Alphadasiaprosgegrammeni</key>
    <string>A_lphadasiaprosgegrammeni.glif</string>
    <key>Alphadasiaprosgegrammeni.alt</key>
    <string>A_lphadasiaprosgegrammeni.alt.glif</string>
    <key>Alphadasiavaria</key>
    <string>A_lphadasiavaria.glif</string>
    <key>Alphadasiavariaprosgegrammeni</key>
    <string>A_lphadasiavariaprosgegrammeni.glif</string>
    <key>Alphadasiavariaprosgegrammeni.alt</key>
    <string>A_lphadasiavariaprosgegrammeni.alt.glif</string>
    <key>Alphaprosgegrammeni</key>
    <string>A_lphaprosgegrammeni.glif</string>
    <key>Alphaprosgegrammeni.alt</key>
    <string>A_lphaprosgegrammeni.alt.glif</string>
    <key>Alphapsilioxiaprosgegrammeni</key>
    <string>A_lphapsilioxiaprosgegrammeni.glif</string>
    <key>Alphapsilioxiaprosgegrammeni.alt</key>
    <string>A_lphapsilioxiaprosgegrammeni.alt.glif</string>
    <key>Alphapsiliperispomeniprosgegrammeni</key>
    <string>A_lphapsiliperispomeniprosgegrammeni.glif</string>
    <key>Alphapsiliperispomeniprosgegrammeni.alt</key>
    <string>A_lphapsiliperispomeniprosgegrammeni.alt.glif</string>
    <key>Alphapsiliprosgegrammeni</key>
    <string>A_lphapsiliprosgegrammeni.glif</string>
    <key>Alphapsiliprosgegrammeni.alt</key>
    <string>A_lphapsiliprosgegrammeni.alt.glif</string>
    <key>Alphapsilivariaprosgegrammeni</key>
    <string>A_lphapsilivariaprosgegrammeni.glif</string>
    <key>Alphapsilivariaprosgegrammeni.alt</key>
    <string>A_lphapsilivariaprosgegrammeni.alt.glif</string>
    <key>Alphavrachy</key>
    <string>A_lphavrachy.glif</string>
    <key>Astroke</key>
    <string>A_stroke.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Bstroke</key>
    <string>B_stroke.glif</string>
    <key>Btopbar</key>
    <string>B_topbar.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>Chedescenderabkhasian-cy</key>
    <string>C_hedescenderabkhasian-cy.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>Chook</key>
    <string>C_hook.glif</string>
    <key>Cstroke</key>
    <string>C_stroke.glif</string>
    <key>DZ</key>
    <string>D_Z_.glif</string>
    <key>DZcaron</key>
    <string>D_Z_caron.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dtopbar</key>
    <string>D_topbar.glif</string>
    <key>Dz</key>
    <string>D_z.glif</string>
    <key>Dzcaron</key>
    <string>D_zcaron.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>Ecedilla</key>
    <string>E_cedilla.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Eltail-cy</key>
    <string>E_ltail-cy.glif</string>
    <key>EnGe-cy</key>
    <string>E_nG_e-cy.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Eopen</key>
    <string>E_open.glif</string>
    <key>Epsilondasia</key>
    <string>E_psilondasia.glif</string>
    <key>Epsilondasiaoxia</key>
    <string>E_psilondasiaoxia.glif</string>
    <key>Epsilondasiavaria</key>
    <string>E_psilondasiavaria.glif</string>
    <key>Epsilonoxia</key>
    <string>E_psilonoxia.glif</string>
    <key>Epsilonpsili</key>
    <string>E_psilonpsili.glif</string>
    <key>Epsilonpsilioxia</key>
    <string>E_psilonpsilioxia.glif</string>
    <key>Epsilonpsilivaria</key>
    <string>E_psilonpsilivaria.glif</string>
    <key>Epsilonvaria</key>
    <string>E_psilonvaria.glif</string>
    <key>Ertick-cy</key>
    <string>E_rtick-cy.glif</string>
    <key>Esh</key>
    <string>E_sh.glif</string>
    <key>Estroke</key>
    <string>E_stroke.glif</string>
    <key>Etadasiaoxiaprosgegrammeni</key>
    <string>E_tadasiaoxiaprosgegrammeni.glif</string>
    <key>Etadasiaoxiaprosgegrammeni.alt</key>
    <string>E_tadasiaoxiaprosgegrammeni.alt.glif</string>
    <key>Etadasiaperispomeniprosgegrammeni</key>
    <string>E_tadasiaperispomeniprosgegrammeni.glif</string>
    <key>Etadasiaperispomeniprosgegrammeni.alt</key>
    <string>E_tadasiaperispomeniprosgegrammeni.alt.glif</string>
    <key>Etadasiaprosgegrammeni</key>
    <string>E_tadasiaprosgegrammeni.glif</string>
    <key>Etadasiaprosgegrammeni.alt</key>
    <string>E_tadasiaprosgegrammeni.alt.glif</string>
    <key>Etadasiavariaprosgegrammeni</key>
    <string>E_tadasiavariaprosgegrammeni.glif</string>
    <key>Etadasiavariaprosgegrammeni.alt</key>
    <string>E_tadasiavariaprosgegrammeni.alt.glif</string>
    <key>Etaoxia</key>
    <string>E_taoxia.glif</string>
    <key>Etaprosgegrammeni.alt</key>
    <string>E_taprosgegrammeni.alt.glif</string>
    <key>Etapsilioxiaprosgegrammeni</key>
    <string>E_tapsilioxiaprosgegrammeni.glif</string>
    <key>Etapsilioxiaprosgegrammeni.alt</key>
    <string>E_tapsilioxiaprosgegrammeni.alt.glif</string>
    <key>Etapsiliperispomeniprosgegrammeni</key>
    <string>E_tapsiliperispomeniprosgegrammeni.glif</string>
    <key>Etapsiliperispomeniprosgegrammeni.alt</key>
    <string>E_tapsiliperispomeniprosgegrammeni.alt.glif</string>
    <key>Etapsiliprosgegrammeni</key>
    <string>E_tapsiliprosgegrammeni.glif</string>
    <key>Etapsiliprosgegrammeni.alt</key>
    <string>E_tapsiliprosgegrammeni.alt.glif</string>
    <key>Etapsilivariaprosgegrammeni</key>
    <string>E_tapsilivariaprosgegrammeni.glif</string>
    <key>Etapsilivariaprosgegrammeni.alt</key>
    <string>E_tapsilivariaprosgegrammeni.alt.glif</string>
    <key>Etavaria</key>
    <string>E_tavaria.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>Ezhreversed</key>
    <string>E_zhreversed.glif</string>
    <key>Fhook</key>
    <string>F_hook.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>Gamma-latin</key>
    <string>G_amma-latin.glif</string>
    <key>Gemiddlehook-cy</key>
    <string>G_emiddlehook-cy.glif</string>
    <key>Ghook</key>
    <string>G_hook.glif</string>
    <key>Glottalstop</key>
    <string>G_lottalstop.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hwair</key>
    <string>H_wair.glif</string>
    <key>Iebreve-cy</key>
    <string>I_ebreve-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iishorttail-cy</key>
    <string>I_ishorttail-cy.glif</string>
    <key>Iota-latin</key>
    <string>I_ota-latin.glif</string>
    <key>Iotadasia</key>
    <string>I_otadasia.glif</string>
    <key>Iotadasiaoxia</key>
    <string>I_otadasiaoxia.glif</string>
    <key>Iotadasiavaria</key>
    <string>I_otadasiavaria.glif</string>
    <key>Iotaoxia</key>
    <string>I_otaoxia.glif</string>
    <key>Iotapsili</key>
    <string>I_otapsili.glif</string>
    <key>Iotapsilioxia</key>
    <string>I_otapsilioxia.glif</string>
    <key>Iotapsilivaria</key>
    <string>I_otapsilivaria.glif</string>
    <key>Iotatonos</key>
    <string>I_otatonos.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>Jstroke</key>
    <string>J_stroke.glif</string>
    <key>Kabashkir-cy</key>
    <string>K_abashkir-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kastroke-cy</key>
    <string>K_astroke-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Lbar</key>
    <string>L_bar.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Mturned</key>
    <string>M_turned.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>Nlongrightleg</key>
    <string>N_longrightleg.glif</string>
    <key>OU</key>
    <string>O_U_.glif</string>
    <key>Ocenteredtilde</key>
    <string>O_centeredtilde.glif</string>
    <key>Odieresis-cy</key>
    <string>O_dieresis-cy.glif</string>
    <key>Oi</key>
    <string>O_i.glif</string>
    <key>Omegadasia</key>
    <string>O_megadasia.glif</string>
    <key>Omegadasiaoxia</key>
    <string>O_megadasiaoxia.glif</string>
    <key>Omegadasiaoxiaprosgegrammeni</key>
    <string>O_megadasiaoxiaprosgegrammeni.glif</string>
    <key>Omegadasiaoxiaprosgegrammeni.alt</key>
    <string>O_megadasiaoxiaprosgegrammeni.alt.glif</string>
    <key>Omegadasiaperispomeni</key>
    <string>O_megadasiaperispomeni.glif</string>
    <key>Omegadasiaperispomeniprosgegrammeni</key>
    <string>O_megadasiaperispomeniprosgegrammeni.glif</string>
    <key>Omegadasiaperispomeniprosgegrammeni.alt</key>
    <string>O_megadasiaperispomeniprosgegrammeni.alt.glif</string>
    <key>Omegadasiaprosgegrammeni</key>
    <string>O_megadasiaprosgegrammeni.glif</string>
    <key>Omegadasiaprosgegrammeni.alt</key>
    <string>O_megadasiaprosgegrammeni.alt.glif</string>
    <key>Omegadasiavaria</key>
    <string>O_megadasiavaria.glif</string>
    <key>Omegadasiavariaprosgegrammeni</key>
    <string>O_megadasiavariaprosgegrammeni.glif</string>
    <key>Omegadasiavariaprosgegrammeni.alt</key>
    <string>O_megadasiavariaprosgegrammeni.alt.glif</string>
    <key>Omegaoxia</key>
    <string>O_megaoxia.glif</string>
    <key>Omegaprosgegrammeni.alt</key>
    <string>O_megaprosgegrammeni.alt.glif</string>
    <key>Omegapsilioxia</key>
    <string>O_megapsilioxia.glif</string>
    <key>Omegapsilioxiaprosgegrammeni</key>
    <string>O_megapsilioxiaprosgegrammeni.glif</string>
    <key>Omegapsilioxiaprosgegrammeni.alt</key>
    <string>O_megapsilioxiaprosgegrammeni.alt.glif</string>
    <key>Omegapsiliperispomeniprosgegrammeni</key>
    <string>O_megapsiliperispomeniprosgegrammeni.glif</string>
    <key>Omegapsiliperispomeniprosgegrammeni.alt</key>
    <string>O_megapsiliperispomeniprosgegrammeni.alt.glif</string>
    <key>Omegapsiliprosgegrammeni</key>
    <string>O_megapsiliprosgegrammeni.glif</string>
    <key>Omegapsiliprosgegrammeni.alt</key>
    <string>O_megapsiliprosgegrammeni.alt.glif</string>
    <key>Omegapsilivaria</key>
    <string>O_megapsilivaria.glif</string>
    <key>Omegapsilivariaprosgegrammeni</key>
    <string>O_megapsilivariaprosgegrammeni.glif</string>
    <key>Omegapsilivariaprosgegrammeni.alt</key>
    <string>O_megapsilivariaprosgegrammeni.alt.glif</string>
    <key>Omegavaria</key>
    <string>O_megavaria.glif</string>
    <key>Omicrondasiaoxia</key>
    <string>O_microndasiaoxia.glif</string>
    <key>Omicrondasiavaria</key>
    <string>O_microndasiavaria.glif</string>
    <key>Omicronoxia</key>
    <string>O_micronoxia.glif</string>
    <key>Omicronvaria</key>
    <string>O_micronvaria.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oogonekmacron</key>
    <string>O_ogonekmacron.glif</string>
    <key>Oopen</key>
    <string>O_open.glif</string>
    <key>Pemiddlehook-cy</key>
    <string>P_emiddlehook-cy.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Phook</key>
    <string>P_hook.glif</string>
    <key>Rhodasia</key>
    <string>R_hodasia.glif</string>
    <key>Rstroke</key>
    <string>R_stroke.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Semisoftsign-cy</key>
    <string>S_emisoftsign-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Tdiagonalstroke</key>
    <string>T_diagonalstroke.glif</string>
    <key>Tetse-cy</key>
    <string>T_etse-cy.glif</string>
    <key>Thook</key>
    <string>T_hook.glif</string>
    <key>Tonefive</key>
    <string>T_onefive.glif</string>
    <key>Tonesix</key>
    <string>T_onesix.glif</string>
    <key>Tretroflexhook</key>
    <string>T_retroflexhook.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Ubar</key>
    <string>U_bar.glif</string>
    <key>Ustraightstroke-cy</key>
    <string>U_straightstroke-cy.glif</string>
    <key>Vhook</key>
    <string>V_hook.glif</string>
    <key>Wynn</key>
    <string>W_ynn.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>Yi-cy</key>
    <string>Y_i-cy.glif</string>
    <key>Yogh</key>
    <string>Y_ogh.glif</string>
    <key>Yr</key>
    <string>Y_r.glif</string>
    <key>Ystroke</key>
    <string>Y_stroke.glif</string>
    <key>Yu-cy</key>
    <string>Y_u-cy.glif</string>
    <key>Zedescender-cy</key>
    <string>Z_edescender-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>Zhook</key>
    <string>Z_hook.glif</string>
    <key>Zstroke</key>
    <string>Z_stroke.glif</string>
    <key>abreve-cy</key>
    <string>abreve-cy.glif</string>
    <key>adieresis-cy</key>
    <string>adieresis-cy.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>alphadasiaoxiaypogegrammeni</key>
    <string>alphadasiaoxiaypogegrammeni.glif</string>
    <key>alphadasiaperispomeniypogegrammeni</key>
    <string>alphadasiaperispomeniypogegrammeni.glif</string>
    <key>alphadasiavariaypogegrammeni</key>
    <string>alphadasiavariaypogegrammeni.glif</string>
    <key>alphadasiaypogegrammeni</key>
    <string>alphadasiaypogegrammeni.glif</string>
    <key>alphaoxiaypogegrammeni</key>
    <string>alphaoxiaypogegrammeni.glif</string>
    <key>alphaperispomeni</key>
    <string>alphaperispomeni.glif</string>
    <key>alphaperispomeniypogegrammeni</key>
    <string>alphaperispomeniypogegrammeni.glif</string>
    <key>alphapsilioxiaypogegrammeni</key>
    <string>alphapsilioxiaypogegrammeni.glif</string>
    <key>alphapsiliperispomeniypogegrammeni</key>
    <string>alphapsiliperispomeniypogegrammeni.glif</string>
    <key>alphapsilivariaypogegrammeni</key>
    <string>alphapsilivariaypogegrammeni.glif</string>
    <key>alphapsiliypogegrammeni</key>
    <string>alphapsiliypogegrammeni.glif</string>
    <key>alphavariaypogegrammeni</key>
    <string>alphavariaypogegrammeni.glif</string>
    <key>alphaypogegrammeni</key>
    <string>alphaypogegrammeni.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.locl</key>
    <string>be-cy.locl.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>brevecomb.cyr</key>
    <string>brevecomb.cyr.glif</string>
    <key>brevecomb.cyr.sc</key>
    <string>brevecomb.cyr.sc.glif</string>
    <key>bstroke</key>
    <string>bstroke.glif</string>
    <key>btopbar</key>
    <string>btopbar.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>chedescenderabkhasian-cy</key>
    <string>chedescenderabkhasian-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>chook</key>
    <string>chook.glif</string>
    <key>cstroke</key>
    <string>cstroke.glif</string>
    <key>dasia</key>
    <string>dasia.glif</string>
    <key>dasia.sc</key>
    <string>dasia.sc.glif</string>
    <key>dasiaoxia</key>
    <string>dasiaoxia.glif</string>
    <key>dasiaoxia.sc</key>
    <string>dasiaoxia.sc.glif</string>
    <key>dasiaperispomeni</key>
    <string>dasiaperispomeni.glif</string>
    <key>dasiaperispomeni.sc</key>
    <string>dasiaperispomeni.sc.glif</string>
    <key>dasiavaria</key>
    <string>dasiavaria.glif</string>
    <key>dasiavaria.sc</key>
    <string>dasiavaria.sc.glif</string>
    <key>dbdigraph</key>
    <string>dbdigraph.glif</string>
    <key>dcurl</key>
    <string>dcurl.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>deltaturned</key>
    <string>deltaturned.glif</string>
    <key>dialytikaoxia</key>
    <string>dialytikaoxia.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dtopbar</key>
    <string>dtopbar.glif</string>
    <key>dz</key>
    <string>dz.glif</string>
    <key>dzcaron</key>
    <string>dzcaron.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>ecedilla</key>
    <string>ecedilla.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>eltail-cy</key>
    <string>eltail-cy.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>emtail-cy</key>
    <string>emtail-cy.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>enge-cy</key>
    <string>enge-cy.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>ertick-cy</key>
    <string>ertick-cy.glif</string>
    <key>ertick-cy.sc</key>
    <string>ertick-cy.sc.glif</string>
    <key>eshreversedloop</key>
    <string>eshreversedloop.glif</string>
    <key>estroke</key>
    <string>estroke.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>etaoxiaypogegrammeni</key>
    <string>etaoxiaypogegrammeni.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ezhreversed</key>
    <string>ezhreversed.glif</string>
    <key>ezhtail</key>
    <string>ezhtail.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>gedescender-cy</key>
    <string>gedescender-cy.glif</string>
    <key>gemiddlehook-cy</key>
    <string>gemiddlehook-cy.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gestroke-cy</key>
    <string>gestroke-cy.glif</string>
    <key>glottalinvertedstroke</key>
    <string>glottalinvertedstroke.glif</string>
    <key>glottalstopsmall</key>
    <string>glottalstopsmall.glif</string>
    <key>gstroke</key>
    <string>gstroke.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hryvnia.osf</key>
    <string>hryvnia.osf.glif</string>
    <key>hv</key>
    <string>hv.glif</string>
    <key>iebreve-cy</key>
    <string>iebreve-cy.glif</string>
    <key>iegrave-cy</key>
    <string>iegrave-cy.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iishorttail-cy</key>
    <string>iishorttail-cy.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>jstroke</key>
    <string>jstroke.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lambdastroke</key>
    <string>lambdastroke.glif</string>
    <key>lbar</key>
    <string>lbar.glif</string>
    <key>lcurl</key>
    <string>lcurl.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>ncurl</key>
    <string>ncurl.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numbersign.c2sc</key>
    <string>numbersign.c2sc.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>odieresis-cy</key>
    <string>odieresis-cy.glif</string>
    <key>oi</key>
    <string>oi.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>omegaperispomeniypogegrammeni</key>
    <string>omegaperispomeniypogegrammeni.glif</string>
    <key>onethird</key>
    <string>onethird.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>ou</key>
    <string>ou.glif</string>
    <key>oxia</key>
    <string>oxia.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>perispomeni</key>
    <string>perispomeni.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>phook</key>
    <string>phook.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>psili</key>
    <string>psili.glif</string>
    <key>psili.sc</key>
    <string>psili.sc.glif</string>
    <key>psilioxia</key>
    <string>psilioxia.glif</string>
    <key>psilioxia.sc</key>
    <string>psilioxia.sc.glif</string>
    <key>psiliperispomeni</key>
    <string>psiliperispomeni.glif</string>
    <key>psiliperispomeni.sc</key>
    <string>psiliperispomeni.sc.glif</string>
    <key>psilivaria</key>
    <string>psilivaria.glif</string>
    <key>psilivaria.sc</key>
    <string>psilivaria.sc.glif</string>
    <key>qpdigraph</key>
    <string>qpdigraph.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>registered.c2sc</key>
    <string>registered.c2sc.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>rstroke</key>
    <string>rstroke.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>ruble.osf</key>
    <string>ruble.osf.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>section.c2sc</key>
    <string>section.c2sc.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>sigmafinal</key>
    <string>sigmafinal.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>sswashtail</key>
    <string>sswashtail.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tenge.osf</key>
    <string>tenge.osf.glif</string>
    <key>tetse-cy</key>
    <string>tetse-cy.glif</string>
    <key>thook</key>
    <string>thook.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>tonefive</key>
    <string>tonefive.glif</string>
    <key>tonesix</key>
    <string>tonesix.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonos.cap</key>
    <string>tonos.cap.glif</string>
    <key>tonos.sc</key>
    <string>tonos.sc.glif</string>
    <key>tpalatalhook</key>
    <string>tpalatalhook.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>tugrik.osf</key>
    <string>tugrik.osf.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>twostroke</key>
    <string>twostroke.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>ustraight-cy</key>
    <string>ustraight-cy.glif</string>
    <key>ustraightstroke-cy</key>
    <string>ustraightstroke-cy.glif</string>
    <key>varia</key>
    <string>varia.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>wynn</key>
    <string>wynn.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>ya-cy</key>
    <string>ya-cy.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>yi-cy</key>
    <string>yi-cy.glif</string>
    <key>yogh</key>
    <string>yogh.glif</string>
    <key>ystroke</key>
    <string>ystroke.glif</string>
    <key>yu-cy</key>
    <string>yu-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zedescender-cy</key>
    <string>zedescender-cy.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
    <key>zhook</key>
    <string>zhook.glif</string>
    <key>zstroke</key>
    <string>zstroke.glif</string>
    <key>zswashtail</key>
    <string>zswashtail.glif</string>
  </dict>
</plist>
