<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E1D801AF-4EEA-42AA-929A-16FC482F9E55</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotatonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Phi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sigma</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10021</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10024</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10026</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10029</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10037</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10040</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10041</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10043</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10044</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10045</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10046</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10048</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10051</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10053</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10056</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10058</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10059</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10060</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10066</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10066.locl</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10067</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10072</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10073</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10074</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10077</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10078</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10079</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10081</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10086</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10088</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10089</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10091</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10092</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10093</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10094</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10095</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10096</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10097</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10099</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10101</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10104</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10106</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10107</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10108</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10145</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10193</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii61289</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii61352</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb.cyr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb.cyr.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.delta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresistonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eightsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.epsilon</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fivesuperior</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.foursuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gamma</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotleft.case</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotright.case</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iota</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omega</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onethird</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rho</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rouble</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sixsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tenge</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0180</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0181</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0182</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0183</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0184</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0185</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0186</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0187</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0188</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018A</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018D</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0190</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0191</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0193</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0194</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0195</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0196</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0198</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0199</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A6</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AC</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AD</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01AE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B3</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B7</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01B9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BD</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01BF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01C4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01C5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01C6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01E4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01E5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01EA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01EB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01EC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01F1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01F2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01F3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01F6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01F7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni021C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni021D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0220</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0221</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0222</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0223</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0224</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0225</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0228</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0229</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0234</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0235</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0238</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0239</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023A</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023B</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0240</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0241</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0242</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0243</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0244</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0246</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0247</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0248</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0249</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024F</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0450</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0462</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0463</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0472</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0473</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0474</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0475</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048C</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048D</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0493</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0494</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0495</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0496</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0497</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0498</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0499</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A0</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A5</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A8</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A9</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04AF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B0</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B1</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04B9</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BC</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BE</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C5</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04C7</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04CB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04CE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04D0</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04D1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04D2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04D3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04D6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04D7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04E6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04E7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04E9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04F7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F0B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F0D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F18</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F19</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F1A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F1B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F1C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F1D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F38</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F39</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F3A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F3B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F3C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F3D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F4B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F4D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F69</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F6A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F6B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F6C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F6D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F6F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F80</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F81</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F82</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F83</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F84</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F85</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F86</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F87</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F88</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F88.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F89</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F89.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8A.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8B.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8C.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8D</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8D.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8E</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8E.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F8F.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F98</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F98.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F99</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F99.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9A.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9B.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9C.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9D.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9E.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1F9F.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FA8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FA8.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FA9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FA9.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAA.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAB.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAC.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAD.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAE.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FAF.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FB2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FB3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FB4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FB6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FB7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FB8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBC.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FBF.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FC0</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FC4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FC8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FC9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCC.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCD.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCE</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCE.sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCF</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCF.sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDD</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDD.sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDE.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FDF.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FEC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FEE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FEF</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FF7</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FF8</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FF9</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FFA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FFB</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FFC.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FFD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FFE</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FFE.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni20AE</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni20B4</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.xi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerosuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeta</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
