<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E1D801AF-4EEA-42AA-929A-16FC482F9E55</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adieresis-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaoxiaprosgegrammeni</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaoxiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaperispomeniprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaperispomeniprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaprosgegrammeni</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiavariaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphadasiavariaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsilioxiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsilioxiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsiliperispomeniprosgegrammeni</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsiliperispomeniprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsiliprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsiliprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsilivariaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphapsilivariaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Alphavrachy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Astroke</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Bhook</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Bstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Btopbar</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Che-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cheabkhasian-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chedescenderabkhasian-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chekhakassian-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cheverticalstroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cstroke</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.DZ</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.DZcaron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dje-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dtopbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dz</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzcaron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzhe-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eltail-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.EnGe-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Enhook-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eopen</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Epsilondasia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Epsilondasiaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Epsilondasiavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Epsilonoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Epsilonpsili</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Epsilonpsilioxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Epsilonpsilivaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Epsilonvaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ertick-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Esh</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Estroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etadasiaoxiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etadasiaoxiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etadasiaperispomeniprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etadasiaperispomeniprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etadasiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etadasiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etadasiavariaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etadasiavariaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etapsilioxiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etapsilioxiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etapsiliperispomeniprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etapsiliperispomeniprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etapsiliprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etapsiliprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etapsilivariaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etapsilivariaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Etavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ezh</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ezhreversed</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Fhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Fita-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gamma-latin</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gemiddlehook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Glottalstop</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hadescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hardsign-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hwair</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iebreve-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ii-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iishorttail-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iota-latin</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotadasia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotadasiaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotadasiavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotapsili</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotapsilioxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotapsilivaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iotatonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Izhitsa-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Jstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kabashkir-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kadescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kahook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kastroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kaverticalstroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Khook</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lje-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Mturned</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nje-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nlongrightleg</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OU</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocenteredtilde</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Odieresis-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiaoxiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiaoxiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiaperispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiaperispomeniprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiaperispomeniprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiavariaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegadasiavariaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsilioxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsilioxiaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsilioxiaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsiliperispomeniprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsiliperispomeniprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsiliprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsiliprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsilivaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsilivariaprosgegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegapsilivariaprosgegrammeni.alt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omegavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omicrondasiaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omicrondasiavaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omicronoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omicronvaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonekmacron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oopen</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Pemiddlehook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Phi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Phook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rhodasia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Semisoftsign-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shcha-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shha-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sigma</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tdiagonalstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tetse-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thook</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tonefive</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tonesix</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tretroflexhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tse-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tshe-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ubar</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ustraightstroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Vhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wynn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yat-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yeru-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yhook</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yi-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yogh</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yr</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ystroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yu-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zedescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhe-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhedescender-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhook</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abreve-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.adieresis-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphadasiaoxiaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphadasiaperispomeniypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphadasiavariaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphadasiaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphaoxiaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphaperispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphaperispomeniypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphapsilioxiaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphapsiliperispomeniypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphapsilivariaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphapsiliypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphavariaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alphaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.locl</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb.cyr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb.cyr.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.btopbar</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cheabkhasian-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chedescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chedescenderabkhasian-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cheverticalstroke-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasia.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaoxia.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaperispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiaperispomeni.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiavaria</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dasiavaria.sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbdigraph</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcurl</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.delta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.deltaturned</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikaoxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresistonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dtopbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dz</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzcaron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzhe-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecedilla</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.numr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eltail-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emtail-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.en-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enge-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.epsilon</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversed-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ertick-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ertick-cy.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eshreversedloop</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.estroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.etaoxiaypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezhreversed</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezhtail</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fita-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.numr</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.numr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gamma</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gedescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gemiddlehook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gestroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.glottalinvertedstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.glottalstopsmall</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft.case</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright.case</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia.c2sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hv</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iebreve-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iegrave-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iishorttail-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iota</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.izhitsa-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jstroke</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kabashkir-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kadescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kahook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambda</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambdastroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcurl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.literSign</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncurl</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.osf</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.tosf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nje-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign.c2sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.obarred-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odieresis-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omega</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omegaperispomeniypogegrammeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onethird</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ou</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oxia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pe-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perispomeni</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.phook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psili</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psili.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilioxia</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilioxia.sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psiliperispomeni</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psiliperispomeni.sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilivaria</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilivaria.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qpdigraph</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered.c2sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rho</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble.c2sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section.c2sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semisoftsign-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigma</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sigmafinal</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.numr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sswashtail</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tau</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tenge</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tenge.c2sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tetse-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thook</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.numr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonefive</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonesix</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos.cap</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonos.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tpalatalhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tse-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tshe-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik.c2sc</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.numr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twostroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ustraight-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ustraightstroke-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.varia</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wynn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.xi</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ya-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yeru-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yi-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yogh</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ystroke</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yu-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zedescender-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.numr</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zeta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhedescender-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhook</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zstroke</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zswashtail</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
