<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2352AA56-B279-4337-97DE-9EE2C80A3772</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
