<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E4CD3388-383E-4161-816D-3EBF342203BD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.published</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rupeeIndian.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tenge.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniF000</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen.osf</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
