<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>112FFB71-C247-4B0C-BF63-D20C2A711E88</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Semisoftsign-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yeru-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kastroke-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tonesix</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tshe-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
