<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>112FFB71-C247-4B0C-BF63-D20C2A711E88</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10045</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10046</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10099</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10108</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chi</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nu</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0185</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni048C</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049F</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A8</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A9</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
