<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F168E4EC-E775-4B62-9497-424502022FF0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.osf</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
