<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8CED5EBB-EE6E-4053-8537-39712DDDD11C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Bhook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cheabkhasian-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Estroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Fhook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oi</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yat-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yr</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.001</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chedescenderabkhasian-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dbdigraph</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dialytikavaria</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_acute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_macron</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversed-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.estroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khook</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lambdastroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oi</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.psilivaria</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rstroke</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhedescender-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zswashtail</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
