<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1B066C74-F2EA-4A7D-96F0-719A0012319C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10021</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10051</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10053</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10059</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10066</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10067</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10069</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10077</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10078</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10095</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10101</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii61352</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.001</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_acute</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis_macron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0180</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0181</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni018F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0191</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0199</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A2</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A3</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni01A6</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0238</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni023B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0240</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0246</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0247</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni024D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0462</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0497</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04BF</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FCD</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1FED</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upsilon</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
