<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C6B671AF-22CD-4232-9749-05585F450DF8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
