<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>75FE2EED-2A51-47B8-A8A8-0C2784074CC1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.osf</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
