<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Working_Layer</string>
      <string>glyphs.W_orking_L_ayer</string>
    </array>
    <array>
      <string>Working_layer_2</string>
      <string>glyphs.W_orking_layer_2</string>
    </array>
    <array>
      <string>DJR-extrapolation</string>
      <string>glyphs.D_J_R_-extrapolation</string>
    </array>
    <array>
      <string>DualType-VL wd77.37-wg544.97</string>
      <string>glyphs.D_ualT_ype-V_L_ wd77.37-wg544.97</string>
    </array>
    <array>
      <string>WorkingLayer</string>
      <string>glyphs.W_orkingL_ayer</string>
    </array>
  </array>
</plist>
