<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D9584211-A27A-4B86-BEE4-5AA80CF09D9C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
