<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A7DB935F-3D79-46BD-90BA-967B4E0BD30E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10058</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10059</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10099</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10106</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10107</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.afii10108</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni049F</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A8</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04A9</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
