<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>776</integer>
		<key>capHeight</key>
		<integer>693</integer>
		<key>copyright</key>
		<string>Copyright 2011 Canonical Ltd.  Licensed under the Ubuntu Font Licence 1.0</string>
		<key>descender</key>
		<integer>-185</integer>
		<key>familyName</key>
		<string>Ubuntu</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>y</key>
				<integer>346</integer>
			</dict>
			<dict>
				<key>y</key>
				<integer>736</integer>
			</dict>
			<dict>
				<key>y</key>
				<integer>962</integer>
			</dict>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>macintoshFONDFamilyID</key>
		<integer>128</integer>
		<key>macintoshFONDName</key>
		<string>Ubuntu Bold</string>
		<key>openTypeHeadFlags</key>
		<array>
			<integer>0</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<key>openTypeHeadLowestRecPPEM</key>
		<integer>9</integer>
		<key>openTypeHheaAscender</key>
		<integer>932</integer>
		<key>openTypeHheaDescender</key>
		<integer>-189</integer>
		<key>openTypeHheaLineGap</key>
		<integer>28</integer>
		<key>openTypeNameDescription</key>
		<string>The Ubuntu Font Family are libre fonts funded by Canonical Ltd on behalf of the Ubuntu project. The font design work and technical implementation is being undertaken by Dalton Maag. The typeface is sans-serif, uses OpenType features and is manually hinted for clarity on desktop and mobile computing screens.

The scope of the Ubuntu Font Family includes all the languages used by the various Ubuntu users around the world in tune with Ubuntu's philosophy which states that every user should be able to use their software in the language of their choice. The project is ongoing, and we expect the family will be extended to cover many written languages in the coming years.</string>
		<key>openTypeNameDesigner</key>
		<string>Dalton Maag Ltd</string>
		<key>openTypeNameDesignerURL</key>
		<string>http://www.daltonmaag.com/</string>
		<key>openTypeNameManufacturer</key>
		<string>Dalton Maag Ltd</string>
		<key>openTypeNameManufacturerURL</key>
		<string>http://www.daltonmaag.com/</string>
		<key>openTypeNameRecords</key>
		<array>
		</array>
		<key>openTypeNameUniqueID</key>
		<string>Ubuntu Bold Version 0.83</string>
		<key>openTypeNameVersion</key>
		<string>0.83</string>
		<key>openTypeOS2CodePageRanges</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>7</integer>
			<integer>29</integer>
			<integer>48</integer>
			<integer>57</integer>
			<integer>58</integer>
			<integer>60</integer>
			<integer>62</integer>
		</array>
		<key>openTypeOS2FamilyClass</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>2</integer>
			<integer>11</integer>
			<integer>8</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>6</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>4</integer>
		</array>
		<key>openTypeOS2Selection</key>
		<array>
		</array>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>250</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>120</integer>
		<key>openTypeOS2SubscriptXOffset</key>
		<integer>0</integer>
		<key>openTypeOS2SubscriptXSize</key>
		<integer>700</integer>
		<key>openTypeOS2SubscriptYOffset</key>
		<integer>140</integer>
		<key>openTypeOS2SubscriptYSize</key>
		<integer>650</integer>
		<key>openTypeOS2SuperscriptXOffset</key>
		<integer>0</integer>
		<key>openTypeOS2SuperscriptXSize</key>
		<integer>700</integer>
		<key>openTypeOS2SuperscriptYOffset</key>
		<integer>477</integer>
		<key>openTypeOS2SuperscriptYSize</key>
		<integer>650</integer>
		<key>openTypeOS2Type</key>
		<array>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>776</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-185</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>56</integer>
		<key>openTypeOS2UnicodeRanges</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>29</integer>
			<integer>30</integer>
			<integer>31</integer>
			<integer>32</integer>
			<integer>33</integer>
			<integer>35</integer>
			<integer>36</integer>
			<integer>38</integer>
			<integer>45</integer>
			<integer>60</integer>
			<integer>62</integer>
		</array>
		<key>openTypeOS2VendorID</key>
		<string>DAMA</string>
		<key>openTypeOS2WeightClass</key>
		<integer>700</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>932</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>189</integer>
		<key>postscriptBlueFuzz</key>
		<integer>1</integer>
		<key>postscriptBlueScale</key>
		<real>0.039625</real>
		<key>postscriptBlueShift</key>
		<integer>7</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-14</integer>
			<integer>0</integer>
			<integer>526</integer>
			<integer>540</integer>
			<integer>693</integer>
			<integer>709</integer>
		</array>
		<key>postscriptDefaultCharacter</key>
		<string>.notdef</string>
		<key>postscriptDefaultWidthX</key>
		<integer>500</integer>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptFontName</key>
		<string>Ubuntu-Bold</string>
		<key>postscriptForceBold</key>
		<true/>
		<key>postscriptFullName</key>
		<string>Ubuntu Bold</string>
		<key>postscriptIsFixedPitch</key>
		<false/>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-188</integer>
			<integer>-185</integer>
		</array>
		<key>postscriptSlantAngle</key>
		<integer>0</integer>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-183</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>120</integer>
		<key>postscriptUniqueID</key>
		<integer>-1</integer>
		<key>postscriptWeightName</key>
		<string>Bold</string>
		<key>postscriptWindowsCharacterSet</key>
		<integer>1</integer>
		<key>styleMapFamilyName</key>
		<string>Ubuntu</string>
		<key>styleMapStyleName</key>
		<string>bold</string>
		<key>styleName</key>
		<string>Bold</string>
		<key>trademark</key>
		<string>Ubuntu and Canonical are registered trademarks of Canonical Ltd.</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>0</integer>
		<key>versionMinor</key>
		<integer>830</integer>
		<key>xHeight</key>
		<integer>526</integer>
		<key>year</key>
		<integer>2011</integer>
	</dict>
</plist>
